---
import Layout from "../../../layouts/Layout.astro";
import "../../../styles/form.css";
import { Image } from "astro:assets";
import InputCompEmail from "../../../components/InputCompEmail.astro";
import InputCompNumber from "../../../components/InputCompNumber.astro";
import InputCompText from "../../../components/InputCompText.astro";
import LogisticBenfits from "../../../components/LogisticBenfits.astro";

import logistic_bg from "../../../images/bg/register_logistic_mobile.webp";
import logistic_bg_lg from "../../../images/bg/register_logistic_lg.webp";
import SourceImageTwo from "../../../components/SourceImageTwo.astro";
---

<!--  -->
<Layout title="اتصل بنا | شركات الخدمات اللوجستية" lang="ar">
  <section class="hero flex items-center">
    <div class="blurred-img bg-blurredlogistic_register">
      <SourceImageTwo
        mobileImgUrl={logistic_bg}
        desktopImgUrl={logistic_bg_lg}
        alt="logistic_solution_bg"
      />
    </div>
    <div
      class="container section-container z-10 fade"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="flex flex-col gap-4 text-white text-right lg:w-2/4">
        <h1 class="text-3xl md:text-4xl md:leading-tight text-white">
          طور أعمال أسطولك مع لأجلك.
        </h1>
        <h6 class="text-base font-medium md:text-lg opacity-80">
          قم بإدارة أسطولك بسهولة وشاهد أعمالك تزدهر من خلال منصتنا القوية.
        </h6>
      </div>
      <div
        class="absolute z-40 left-0 top-2 3xl:top-10 lg:w-1/2 hidden lg:block"
      >
        <div class="absolute z-50 left-0">
          <div
            class="bg-white rounded-2xl shadow-xl px-10 min-w-[500px] 3xl:min-h-[600px]"
          >
            <div
              class="flex items-center justify-evenly gap-x-5 border-b-2 border-gray-100 py-8"
            >
              <!-- معلومات الاتصال -->
              <div class="stepper active relative flex flex-col items-center">
                <div
                  class="size-12 rounded-full ring-1 ring-black/10 bg-white flex items-center justify-center"
                >
                  <div class="icon">١</div>
                  <svg
                    class="tick size-7 hidden"
                    viewBox="0 0 34 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M33.375 3.25021L10.875 24.2502L0.5625 14.6252L3.20625 12.1577L10.875 19.2977L30.7313 0.782715L33.375 3.25021Z"
                      fill="white"></path>
                  </svg>
                </div>
                <p class="mt-2">معلومات الاتصال</p>
              </div>
              <!-- معلومات عامة -->
              <div class="stepper relative flex flex-col items-center">
                <div
                  class="size-12 rounded-full ring-1 ring-black/10 bg-white flex items-center justify-center"
                >
                  <div class="icon">٢</div>
                  <svg
                    class="tick size-7 hidden"
                    viewBox="0 0 34 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M33.375 3.25021L10.875 24.2502L0.5625 14.6252L3.20625 12.1577L10.875 19.2977L30.7313 0.782715L33.375 3.25021Z"
                      fill="white"></path>
                  </svg>
                </div>
                <p class="mt-2">معلومات عامة</p>
              </div>
              <!-- معلومات الموارد -->
              <div class="stepper relative flex flex-col items-center">
                <div
                  class="size-12 rounded-full ring-1 ring-black/10 bg-white flex items-center justify-center"
                >
                  <div class="icon">٣</div>
                  <svg
                    class="tick size-7 hidden"
                    viewBox="0 0 34 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M33.375 3.25021L10.875 24.2502L0.5625 14.6252L3.20625 12.1577L10.875 19.2977L30.7313 0.782715L33.375 3.25021Z"
                      fill="white"></path>
                  </svg>
                </div>
                <p class="mt-2">معلومات الموارد</p>
              </div>
            </div>
            <form method="POST" action="" class="py-8 formStepper">
              <!-- معلومات الاتصال -->
              <div class="form-elements active space-y-7">
                <InputCompText
                  type="text"
                  id="contactName"
                  label_text="اسم جهة الاتصال"
                  data_needed={true}
                />
                <InputCompEmail
                  type="email"
                  id="contactEmail"
                  label_text="البريد الإلكتروني لجهة الاتصال"
                  data_needed={true}
                />
                <InputCompNumber
                  type="number"
                  id="contactNumber"
                  label_text="رقم الهاتف"
                  data_needed={true}
                />
                <div
                  class="flex flex-col sm:flex-row items-center justify-between gap-5"
                >
                  <div>
                    <p class="text-sm font-thin">
                      يرجى ملاحظة: (<span class="text-red-700">*</span>) الحقول
                      المطلوبة إلزامية،
                    </p>
                    <p class="text-sm font-thin">الحقول العادية اختيارية.</p>
                  </div>
                  <button type="button" class="next-btn button-regular">
                    التالي
                  </button>
                </div>
              </div>
              <!-- معلومات عامة -->
              <div class="form-elements space-y-7">
                <InputCompText
                  type="text"
                  id="companyName"
                  label_text="اسم الشركة"
                  data_needed={true}
                />
                <InputCompNumber
                  type="number"
                  id="crNumber"
                  label_text="رقم السجل التجاري"
                  data_needed={true}
                />
                <InputCompText
                  type="text"
                  id="company_website"
                  label_text="الموقع الإلكتروني للشركة"
                />
                <InputCompText
                  type="text"
                  id="location_link"
                  label_text="رابط موقع المكتب الرئيسي"
                />
                <div class="flex flex-col gap-5 sm:flex-row justify-between">
                  <button
                    type="button"
                    class="prev-btn button-return order-2 sm:order-1"
                  >
                    العودة
                  </button>
                  <button
                    type="button"
                    class="next-btn button-regular sm:order-2"
                  >
                    التالي
                  </button>
                </div>
              </div>
              <!-- معلومات الموارد -->
              <div class="form-elements space-y-7">
                <InputCompNumber
                  type="number"
                  id="captain_numbers"
                  label_text="عدد السائقين"
                  data_needed={true}
                />
                <InputCompNumber
                  type="number"
                  id="Coverage_area"
                  label_text="مساحة التغطية"
                  data_needed={true}
                />
                <div class="flex justify-between">
                  <button
                    type="button"
                    class="prev-btn button-return order-2 sm:order-1"
                  >
                    العودة
                  </button>
                  <button
                    type="submit"
                    class="next-btn button-regular sm:order-2"
                  >
                    إرسال
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-l from-black/85 to-black/50 z-0"
    >
    </div>
  </section>
  <div
    class="container relative mx-auto max-w-7xl lg:px-16 2xl:px-5 lg:hidden fade"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <div class="flex flex-col items-center bg-white px-10 min-h-[570px]">
      <div
        class="flex items-center justify-between gap-x-5 border-b-2 border-gray-100 py-8 w-full"
      >
        <!-- معلومات الاتصال -->
        <div class="stepper active relative flex flex-col items-center">
          <div
            class="size-12 rounded-full ring-1 ring-black/10 bg-white flex items-center justify-center"
          >
            <div class="icon">١</div>
            <svg
              class="tick size-7 hidden"
              viewBox="0 0 34 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.375 3.25021L10.875 24.2502L0.5625 14.6252L3.20625 12.1577L10.875 19.2977L30.7313 0.782715L33.375 3.25021Z"
                fill="white"></path>
            </svg>
          </div>
          <p class="mt-2 text-center leading-none">معلومات الاتصال</p>
        </div>
        <!-- معلومات عامة -->
        <div class="stepper relative flex flex-col items-center">
          <div
            class="size-12 rounded-full ring-1 ring-black/10 bg-white flex items-center justify-center"
          >
            <div class="icon">٢</div>
            <svg
              class="tick size-7 hidden"
              viewBox="0 0 34 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.375 3.25021L10.875 24.2502L0.5625 14.6252L3.20625 12.1577L10.875 19.2977L30.7313 0.782715L33.375 3.25021Z"
                fill="white"></path>
            </svg>
          </div>
          <p class="mt-2 text-center leading-none">معلومات عامة</p>
        </div>
        <!-- معلومات الموارد -->
        <div class="stepper relative flex flex-col items-center">
          <div
            class="size-12 rounded-full ring-1 ring-black/10 bg-white flex items-center justify-center"
          >
            <div class="icon">٣</div>
            <svg
              class="tick size-7 hidden"
              viewBox="0 0 34 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M33.375 3.25021L10.875 24.2502L0.5625 14.6252L3.20625 12.1577L10.875 19.2977L30.7313 0.782715L33.375 3.25021Z"
                fill="white"></path>
            </svg>
          </div>
          <p class="mt-2 text-center leading-none">معلومات الموارد</p>
        </div>
      </div>
      <form method="POST" action="" class="py-8 formStepper w-full">
        <!-- معلومات الاتصال -->
        <div class="form-elements active space-y-7">
          <InputCompText
            type="text"
            id="contactName"
            label_text="اسم جهة الاتصال"
            data_needed={true}
          />
          <InputCompEmail
            type="email"
            id="contactEmail"
            label_text="البريد الإلكتروني لجهة الاتصال"
            data_needed={true}
          />
          <InputCompNumber
            type="number"
            id="contactNumber"
            label_text="رقم الهاتف"
            data_needed={true}
          />
          <div
            class="flex flex-col sm:flex-row items-center justify-between gap-5"
          >
            <div class="w-full">
              <p class="text-sm font-thin">
                يرجى ملاحظة: (<span class="text-red-700">*</span>) الحقول
                المطلوبة إلزامية،
              </p>
              <p class="text-sm font-thin">الحقول العادية اختيارية.</p>
            </div>
            <button type="button" class="next-btn button-regular">التالي</button
            >
          </div>
        </div>
        <!-- معلومات عامة -->
        <div class="form-elements space-y-7">
          <InputCompText
            type="text"
            id="companyName"
            label_text="اسم الشركة"
            data_needed={true}
          />
          <InputCompNumber
            type="number"
            id="crNumber"
            label_text="رقم السجل التجاري"
            data_needed={true}
          />
          <InputCompText
            type="text"
            id="company_website"
            label_text="الموقع الإلكتروني للشركة"
          />
          <InputCompText
            type="text"
            id="location_link"
            label_text="رابط موقع المكتب الرئيسي"
          />
          <div class="flex flex-col gap-5 sm:flex-row justify-between">
            <button
              type="button"
              class="prev-btn button-return order-2 sm:order-1"
            >
              العودة
            </button>
            <button type="button" class="next-btn button-regular sm:order-2">
              التالي
            </button>
          </div>
        </div>
        <!-- معلومات الموارد -->
        <div class="form-elements space-y-7">
          <InputCompNumber
            type="number"
            id="captain_numbers"
            label_text="عدد السائقين"
            data_needed={true}
          />
          <InputCompNumber
            type="number"
            id="Coverage_area"
            label_text="مساحة التغطية"
            data_needed={true}
          />
          <div class="flex flex-col gap-5 sm:flex-row justify-between">
            <button
              type="button"
              class="prev-btn button-return order-2 sm:order-1"
            >
              العودة
            </button>
            <button type="submit" class="next-btn button-regular sm:order-2">
              إرسال
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <section class="bg-lightGray">
    <div class="container section-container flex flex-col gap-32">
      <div
        class="fade text-right space-y-4"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h2>لماذا تختارنا؟</h2>
        <p class="lg:w-1/2">
          نظام إدارة الطلبات من Leajlak يمكّن شركات الخدمات اللوجستية من التغلب
          على التحديات التشغيلية، وتعزيز الكفاءة، وتقديم خدمة استثنائية لعملائها
          وزبائنها.
        </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-16 lg:gap-7">
        <LogisticBenfits lang="ar" />
      </div>
    </div>
  </section>

  <script src="../../../Script/BlurredImage.js"></script>
  <script src="../../../Script/registration-control.js"></script>
</Layout>
