---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import about from "../../images/bg/about.webp";
import about_lg from "../../images/bg/about-lg.webp";
import Mc from "../../images/companies logo/clients/Mcdonald.webp";
import lorenzo from "../../images/companies logo/clients/Lorenzo.webp";
import alliwan from "../../images/companies logo/clients/Alliwan.webp";
import bk from "../../images/companies logo/clients/Burgerking.webp";
import hzbr from "../../images/companies logo/clients/Hazbr.webp";
import farawalah from "../../images/companies logo/clients/Farawlah.webp";
import casapasta from "../../images/companies logo/clients/Casapasta.webp";
import about_mobile from "../../images/bg/about-mobile.webp";

import TrustedIcons from "../../components/TrustedIcons.astro";
import Values from "../../components/values.astro";
import ButtonOutline from "../../components/ButtonOutline.astro";
import Location from "../../components/Location.astro";
import QuickSupport from "../../components/QuickSupport.astro";
import SourceImageTwo from "../../components/SourceImageTwo.astro";
---

<Layout title="About Us" lang="en">
  <section class="hero z-0" id="about-hero">
    <div
      class="bg-blurredAboutBgMobile xs:bg-blurredAboutBg bg-cover bg-center blurred-img"
    >
      <SourceImageTwo
        mobileImgUrl={about_mobile}
        desktopImgUrl={about_lg}
        position="absolute"
        alt="About-bg"
      />
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/80 xs:bg-transparent xs:bg-gradient-to-l from-black/50 from-0% to-black/85 to-80% z-0"
    >
    </div>
    <div
      id="title-container"
      class="fade container section-container text-white flex flex-col justify-center h-full"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <h3
        class="text-primaryOrange text-2xl md:text-4xl font-normal tracking-wider mt-10"
      >
        About us
      </h3>
      <h1 class="text-white lg:w-3/4 leading-snug">
        Connecting Merchants and Logistics Providers
        <span
          class="typewrite text-primaryOrange"
          data-period="1000"
          data-type='[ "Seamlessly.", "smoothly.", "efficiently.", "like never before!" ]'
        >
        </span>
        <span class="border-r-2 animate-ping animate-duration-1000"></span>
      </h1>
    </div>
  </section>
  <section class="bg-white z-10" id="about">
    <div
      class="fade container section-container space-y-20 lg:space-y-32"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div
        class="flex flex-col items-center justify-center lg:flex-row gap-16 lg:gap-0"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="flex flex-col gap-y-4 lg:w-1/2">
          <h2 class="">About Leajlak</h2>
          <p class="lg:w-3/4">
            For You is a Saudi national company that aims to provide innovative
            and integrated logistics services to its partners, ensuring
            sustainability in accordance with international standards to achieve
            growth and continuity.
          </p>
          <p class="lg:w-3/4">
            The company also seeks to develop a training and employment plan to
            empower its workforce, ensuring the safety and security of projects
            and achieving the desired objectives for its clients.
          </p>
        </div>
        <div class="lg:w-1/2 h-full overflow-hidden rounded-2xl">
          <Image src={about} alt="about" class="size-full object-cover" />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-darkGray">
    <div class="container section-container text-white">
      <div
        class="flex flex-col items-center justify-center gap-y-20 lg:items-start lg:gap-y-0 lg:gap-x-16 lg:flex-row"
      >
        <div
          class="fade lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h2 class="bg-primaryOrange text-white text-center py-2">
            Our vision
          </h2>
          <p class="text-white">
            Leajlak's innovative Order Management System lies in its ability to
            revolutionize the delivery ecosystem by seamlessly connecting
            merchants and third-party logistics companies. By offering a
            comprehensive solution to bridge the gap between these stakeholders,
            Leajlak empowers businesses to achieve efficient, on-demand express
            delivery services, ultimately enhancing operational efficiency,
            collaboration, and customer satisfaction.​
          </p>
        </div>
        <div
          class="fade w-full lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h2 class="bg-primaryOrange text-white text-center py-2">
            Our mission
          </h2>
          <ul>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:mt-0.5 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7 text-white">
                Enhance the operational efficiency of businesses.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:mt-0.5 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7 text-white">
                Provide seamless connectivity between merchants and logistics
                providers.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:mt-0.5 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7 text-white">
                Improve customer satisfaction through precise and reliable
                delivery services.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:mt-0.5 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7 text-white">
                Foster collaboration within the logistics industry to create a
                robust and efficient delivery network.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="values" class="bg-lightGray">
    <div class="container section-container space-y-20 z-10">
      <h2 class="text-center">Our values</h2>
      <Values lang="en" />
    </div>
  </section>
  <section class="bg-black/80">
    <div
      class="relative bg-gradient-to-r flex flex-col items-center justify-center gap-14 w-full px-10 sm:px-24 py-24 md:min-h-[450px] z-10"
    >
      <h1 class="text-white text-center text-2xl sm:text-3xl lg:text-4xl">
        Be a part of our talented team.
      </h1>
      <ButtonOutline href="contact/employees" text="Join Now" />
    </div>
  </section>
  <section class="bg-white">
    <div class="container section-container space-y-24">
      <h2
        class="fade text-center"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        Trusted by Leading Businesses
      </h2>
      <div
        class="fade flex flex-wrap items-center justify-center gap-x-20 md:gap-x-5 gap-y-28"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <TrustedIcons imgSrc={Mc} alt="Mcdonald" />
        <TrustedIcons imgSrc={farawalah} alt="farawalah" />
        <TrustedIcons imgSrc={lorenzo} alt="lorenzo" />
        <TrustedIcons imgSrc={alliwan} alt="alliwan" />
        <TrustedIcons imgSrc={bk} alt="Burgerking" />
        <TrustedIcons imgSrc={hzbr} alt="hzbr" />
        <TrustedIcons imgSrc={casapasta} alt="Casapasta" />
      </div>
    </div>
  </section>
  <section class="flex flex-col lg:flex-row bg-lightGray" id="contact">
    <div
      class="fade flex flex-col justify-center gap-20 w-full lg:w-1/2 px-6 py-10 lg:p-20"
      data-animation="animate-fade-right animate-duration-[1000ms]"
    >
      <div class="text-left space-y-20 lg:space-y-12">
        <div class="xs:w-4/5 lg:w-full">
          <h3>Quick support</h3>
          <h2 class="">
            Feel free to contact us by phone, email, or visit in person.
          </h2>
        </div>
        <QuickSupport lang="en" />
      </div>
    </div>
    <Location />
  </section>
</Layout>
<script src="/src/Script/typewriter.js"></script>
<script src="/src/Script/BlurredImage.js"></script>
