---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import about from "../../images/bg/about.webp";
import about_lg from "../../images/bg/about-lg.webp";
import Mc from "../../images/companies_logo/clients/Mcdonald.webp";
import lorenzo from "../../images/companies_logo/clients/Lorenzo.webp";
import alliwan from "../../images/companies_logo/clients/Alliwan.webp";
import bk from "../../images/companies_logo/clients/Burgerking.webp";
import hzbr from "../../images/companies_logo/clients/Hazbr.webp";
import farawalah from "../../images/companies_logo/clients/Farawlah.webp";
import casapasta from "../../images/companies_logo/clients/Casapasta.webp";
import about_mobile from "../../images/bg/about-mobile.webp";

import TrustedIcons from "../../components/TrustedIcons.astro";
import Values from "../../components/values.astro";
import ButtonOutline from "../../components/ButtonOutline.astro";
import Location from "../../components/Location.astro";
import QuickSupport from "../../components/QuickSupport.astro";
import SourceImageTwo from "../../components/SourceImageTwo.astro";
---

<Layout title="About Us" lang="en">
  <section
    class="hero bg-blurredAboutBgMobile xs:bg-blurredAboutBg bg-cover bg-center bg-no-repeat"
    id="about-hero"
  >
    <div class="blurred-img">
      <SourceImageTwo
        mobileImgUrl={about_mobile}
        desktopImgUrl={about_lg}
        alt="About-bg"
      />
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/80 xs:bg-transparent xs:bg-gradient-to-l from-black/50 from-0% to-black/85 to-80% z-0"
    >
    </div>
    <div
      id="title-container"
      class="fade min-h-inherit section-container text-white flex flex-col justify-center"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <h3
        class="text-primaryOrange text-2xl md:text-3xl font-normal tracking-wider mt-10"
      >
        About us
      </h3>
      <h1 class="text-white lg:w-3/4 leading-snug">
        Connecting Merchants and Logistics Providers
        <span
          class="typewrite text-primaryOrange"
          data-period="1000"
          data-type='[ "Seamlessly.", "smoothly.", "efficiently.", "like never before!" ]'
        >
        </span>
        <span class="border-r-2 animate-ping animate-duration-1000"></span>
      </h1>
    </div>
  </section>
  <section class="bg-white z-10" id="about">
    <div
      class="fade container section-container space-y-20 lg:space-y-32"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div
        class="flex flex-col items-center justify-center lg:flex-row gap-16 lg:gap-0"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="flex flex-col gap-y-4 lg:w-1/2">
          <h2>About Leajlak</h2>
          <p class="lg:w-3/4">
            Leajlak is a Saudi national company that aims to provide innovative
            and integrated logistics services to its partners, ensuring
            sustainability in accordance with international best practices to
            achieve growth and continuity.
          </p>
          <p class="lg:w-3/4">
            The company also seeks to develop a training and employment plan to
            empower its workforce, ensuring the safety and security of projects
            and achieving the desired objectives for its clients.
          </p>
        </div>
        <div class="lg:w-1/2 h-full overflow-hidden rounded-2xl">
          <Image src={about} alt="about" class="size-full object-cover" />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-y-20 lg:items-start lg:gap-y-0 lg:gap-x-16 lg:flex-row"
      >
        <div
          class="fade lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h4 class="bg-primaryOrange text-white text-center py-2 rounded-2xl">
            Our vision
          </h4>
          <p>
            To revolutionize logistics by providing groundbreaking technological
            solutions that bridge the gap between merchants and logistics
            companies, driving local and global excellence in on-demand delivery
            services.
          </p>
        </div>
        <div
          class="fade w-full lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h4 class="bg-primaryOrange text-white text-center rounded-2xl py-2">
            Our mission
          </h4>
          <p>
            To provide businesses with innovative tools that enhance efficiency,
            strengthen merchant-logistics partnerships, and deliver exceptional
            customer satisfaction through a trusted delivery network
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="values" class="bg-lightGray">
    <div class="container section-container space-y-20 z-10">
      <h2 class="text-center">Our values</h2>
      <Values lang="en" />
    </div>
  </section>
  <section class="bg-secondaryBlueDark">
    <div
      class="relative bg-gradient-to-r flex flex-col items-center justify-center gap-14 w-full px-10 sm:px-24 py-24 md:min-h-[450px] z-10"
    >
      <h1 class="text-white text-center text-2xl sm:text-3xl lg:text-4xl">
        Be a part of our talented team.
      </h1>
      <ButtonOutline href="contact/employees" text="Join Now" />
    </div>
  </section>
  <section class="bg-white">
    <div class="container section-container space-y-24">
      <h2
        class="fade text-center"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        Trusted by Leading Businesses
      </h2>
      <div
        class="fade flex flex-wrap items-center justify-evenly xs:justify-center gap-x-5 gap-y-20"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <TrustedIcons imgSrc={Mc} alt="Mcdonald" />
        <TrustedIcons imgSrc={farawalah} alt="farawalah" />
        <TrustedIcons imgSrc={lorenzo} alt="lorenzo" />
        <TrustedIcons imgSrc={alliwan} alt="alliwan" />
        <TrustedIcons imgSrc={bk} alt="Burgerking" />
        <TrustedIcons imgSrc={hzbr} alt="hzbr" />
        <TrustedIcons imgSrc={casapasta} alt="Casapasta" />
      </div>
    </div>
  </section>
  <section class="flex flex-col lg:flex-row bg-lightGray" id="contact">
    <div
      class="fade flex flex-col justify-center gap-20 w-full lg:w-1/2 px-6 py-10 lg:p-20"
      data-animation="animate-fade-right animate-duration-[1000ms]"
    >
      <div class="text-left space-y-20 lg:space-y-12">
        <div class="xs:w-4/5 lg:w-full">
          <h3>Quick support</h3>
          <h2>Feel free to contact us by phone, email, or visit in person.</h2>
        </div>
        <QuickSupport lang="en" />
      </div>
    </div>
    <Location />
  </section>
  <script src="/src/Script/typewriter.js"></script>
  <script src="/src/Script/BlurredImage.js"></script>
</Layout>
