---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import about from "../../../public/images/bg/about.webp";
import Mc from "../../../public/images/companies logo/clients/Mcdonald.webp";
import lorenzo from "../../../public/images/companies logo/clients/Lorenzo.webp";
import alliwan from "../../../public/images/companies logo/clients/Alliwan.webp";
import bk from "../../../public/images/companies logo/clients/Burgerking.webp";
import hzbr from "../../../public/images/companies logo/clients/Hazbr.webp";
import farawalah from "../../../public/images/companies logo/clients/Farawlah.webp";
import casapasta from "../../../public/images/companies logo/clients/Casapasta.webp";

import Typewriter from "../../components/Typewriter.astro";
import TrustedIcons from "../../components/TrustedIcons.astro";
import Values from "../../components/values.astro";
import ButtonOutline from "../../components/ButtonOutline.astro";
---

<link
  rel="preload"
  href="/images/bg/about-mobile.webp"
  as="image"
  media="(max-width: 479px)"
/>
<link
  rel="preload"
  href="/images/bg/about-md.webp"
  as="image"
  media="(min-width: 480px)"
/>
<link
  rel="preload"
  href="/images/bg/about-lg.webp"
  as="image"
  media="(min-width: 1600px)"
/>

<Layout title="About Us" lang="en">
  <section
    class="bg-about_mobile xs:bg-about_med 3xl:bg-about_lg bg-cover bg-center lg:bg-left bg-no-repeat bg-fixed hero flex items-center relative"
    id="about-hero"
  >
    <Typewriter />
    <div
      class="fade container section-container text-white z-10"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="text-left space-y- lg:w-3/4">
        <h3
          class="text-primaryOrange text-2xl md:text-4xl font-normal tracking-wider"
        >
          About us
        </h3>
        <h1 class="text-3xl md:text-5xl md:leading-tight text-white">
          Connecting Merchants and Logistics Providers
          <span
            class="typewrite text-primaryOrange"
            data-period="1000"
            data-type='[ "Seamlessly.", "smoothly.", "efficiently.", "like never before!" ]'
          >
          </span>
          <span class="border-r-2 animate-ping animate-duration-1000"></span>
        </h1>
      </div>
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-l from-black/50 to-black/70 z-0"
    >
    </div>
  </section>
  <section class="bg-white" id="about">
    <div
      class="fade container section-container space-y-20 lg:space-y-32"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div
        class="flex flex-col items-center lg:flex-row gap-16"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="max-w-full flex-1 flex flex-col gap-y-4">
          <h2 class="">About Leajlak</h2>
          <p class="lg:text-lg">
            Leajlak is an innovative tech company focused on revolutionizing the
            logistics and order management landscape. By offering a
            comprehensive, customizable solution, Leajlak connects merchants
            with third-party logistics companies, enabling a seamless and
            efficient delivery ecosystem.
          </p>
        </div>
        <div class="max-w-full flex-1 overflow-hidden">
          <Image src={about} alt="about" class="w-full" />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-darkGray normal">
    <div class="container section-container text-white">
      <div
        class="flex flex-col items-center justify-center gap-y-20 lg:items-start lg:gap-y-0 lg:gap-x-16 lg:flex-row"
      >
        <div
          class="fade lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h2 class="bg-primaryOrange text-white text-center py-2">
            Our vision
          </h2>
          <p>
            Leajlak's innovative Order Management System lies in its ability to
            revolutionize the delivery ecosystem by seamlessly connecting
            merchants and third-party logistics companies. By offering a
            comprehensive solution to bridge the gap between these stakeholders,
            Leajlak empowers businesses to achieve efficient, on-demand express
            delivery services, ultimately enhancing operational efficiency,
            collaboration, and customer satisfaction.​
          </p>
        </div>
        <div
          class="fade w-full lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h2 class="bg-primaryOrange text-white text-center py-2">
            Our mission
          </h2>
          <ul>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                Enhance the operational efficiency of businesses.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                Provide seamless connectivity between merchants and logistics
                providers.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                Improve customer satisfaction through precise and reliable
                delivery services.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:left-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                Foster collaboration within the logistics industry to create a
                robust and efficient delivery network.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="values">
    <div class="container section-container space-y-20">
      <h2 class="text-center">Our values</h2>
      <Values lang="en" />
    </div>
  </section>
  <section class="bg-white">
    <div class="container section-container space-y-24">
      <h2
        class="fade text-center"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        Trusted by Leading Businesses
      </h2>
      <div
        class="fade flex flex-wrap items-center justify-center gap-x-5 gap-y-28"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <TrustedIcons imgSrc={Mc} alt="Mcdonald" />
        <TrustedIcons imgSrc={farawalah} alt="farawalah" />
        <TrustedIcons imgSrc={lorenzo} alt="lorenzo" />
        <TrustedIcons imgSrc={alliwan} alt="alliwan" />
        <TrustedIcons imgSrc={bk} alt="Burgerking" />
        <TrustedIcons imgSrc={hzbr} alt="hzbr" />
        <TrustedIcons imgSrc={casapasta} alt="Casapasta" />
      </div>
      <div
        class="fade relative bg-gradient-to-br from-primaryOrange from-0% to-customYellow to-100% flex flex-col items-center justify-center gap-14 w-full rounded-lg px-10 shadow-black/30 shadow-lg sm:px-24 py-24 md:min-h-[450px] overflow-hidden z-10 after:content-[''] after:absolute after:h-full after:w-full after:bg-digital_bg1 after:opacity-90 after:bg-cover after:bg-no-repeat after:bg-center after:-z-10"
        data-animation="animate-fade-up animate-duration-[1000ms]"
      >
        <h1 class="text-white text-center text-2xl sm:text-4xl">
          Be a part of our talented team.
        </h1>
        <ButtonOutline href="registration/employees" text="Join Now" />
      </div>
    </div>
  </section>
</Layout>
