---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/Testimonial.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";

import Button from "../../components/Button.astro";
import Carousel from "../../components/Carousel.astro";
import CarouselThreeD from "../../components/CarouselThreeD.astro";
import InfiniteScroll from "../../components/InfiniteScroll.astro";
/* Images */
import mockup from "../../images/mockup.webp";
import fleet from "../../images/bg/fleet.webp";
import Restaurant from "../../images/bg/restaurent.webp";
import app from "../../images/Appmockup.webp";
import order_status from "../../images/icons/benefits/integration/order status.svg";
import api from "../../images/icons/benefits/integration/api.svg";
import LiveLocation from "../../images/icons/benefits/integration/live location.svg";
import Payment_methods from "../../images/icons/benefits/integration/payment method.svg";
import chat from "../../images/icons/benefits/integration/chat.svg";
import Payment from "../../images/icons/benefits/integration/order-return.svg";
import truck from "../../images/icons/path-truck 1.webp";
import google from "../../images/icons/google play.png";
import apple from "../../images/icons/apple store.png";
import TailoredDMS from "../../components/SvgIcons/TailoredDMS.astro";
import RealTT from "../../components/SvgIcons/RealTT.astro";
import RiderMang from "../../components/SvgIcons/RiderMang.astro";
import Integration from "../../components/SvgIcons/Integration.astro";
import LogisticPartner from "../../components/SvgIcons/LogisticPartner.astro";
import EDM from "../../components/SvgIcons/EDM.astro";
import RTA from "../../components/SvgIcons/RTA.astro";
import Recon from "../../components/SvgIcons/Recon.astro";
import FMO from "../../components/SvgIcons/FMO.astro";
import AOA from "../../components/SvgIcons/AOA.astro";
import CDA from "../../components/SvgIcons/CDA.astro";
---

<Layout title="Home" lang="en">
  <Carousel />
  <section class="relative h-screen">
    <video
      autoplay
      muted
      loop
      class="absolute right-0 bottom-0 h-full w-full object-cover">
      <source src="../../../delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="w-full h-full absolute inset-0 bg-gradient-to-t md:bg-gradient-to-br bg-black/80">
      <div
        class="container section-container flex flex-col justify-center text-center gap-5 h-full">
        <div
          class="notshow flex flex-col lg:items-center text-white"
          data-animation="animate-fade animate-duration-[2000ms]">
          <div class="space-y-1 mb-5">
            <div class="text-3xl lg:text-5xl">Streamline Your Deliveries,</div>
            <h1 class="text-primaryOrange text-5xl lg:text-7xl">
              Elevate Your Business.
            </h1>
          </div>
          <div class="leading-7 mb-5 text-sm lg:text-base lg:w-[80%]">
            We are a leading technology partner dedicated to enhancing the last
            mile delivery experience for companies focused on customer
            satisfaction. Our mission is to ensure that every delivery reaches
            its destination reliably, on-time, with precision, efficiency, and
            in the most sustainable manner possible.
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="space-y-6 sm:space-y-12 w-full py-10 bg-white overflow-hidden">
    <h4 class="text-2xl font-medium text-center">
      <span class="text-primaryOrange font-semibold">Leajlak's</span> empowered brands
    </h4>
    <InfiniteScroll />
  </div>
  <section id="Headline1" class="overflow-x-hidden flex">
    <div
      class="notshow container section-container relative flex flex-col justify-center gap-10 lg:flex-row lg:items-center lg:justify-start"
      data-animation="animate-fade animate-duration-[1500ms]">
      <div class="flex flex-col justify-center space-y-8 lg:w-[50%] text-base">
        <div class="space-y-3">
          <div>
            <h3 class="tracking-widest">Who we are?</h3>
            <h2>A delivery management system, for all your needs.</h2>
          </div>
          <p>
            Leajlak's innovative Order Management System is the answer to
            connecting merchants and thirdparty logistics companies for seamless
            ondemand express & scheduled delivery services.
          </p>
          <p>
            Our solution bridges the gap between merchants and logistic
            companies and can significantly enhance efficiency, reduce costs,
            and improve customer satisfaction.
          </p>
        </div>
        <div>
          <Button link="register" text="Register now" />
        </div>
      </div>
      <div
        class="lg:absolute lg:right-0 hidden sm:flex sm:justify-center lg:justify-start lg:w-[50%]">
        <Image
          src={mockup}
          class="w-[770px] lg:w-[870px]"
          alt="mockup"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div
      class="container section-container flex flex-col gap-20 overflow-hidden">
      <h3
        class="notshow text-center"
        data-animation="animate-fade animate-duration-[1500ms]">
        Who we serve?
      </h3>
      <div class="flex flex-col items-center gap-y-32">
        <div
          class="notshow flex flex-col items-center gap-10 md:flex-row w-full"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="md:w-[30%] space-y-2 justify-self-start">
            <h2>Target Sectors</h2>
            <p>
              Our services target multiple sectors, from restaurants and cafes
              to e-groceries and much more.
            </p>
          </div>
          <div class="relative w-full md:w-[70%]">
            <CarouselThreeD lang="en" />
          </div>
        </div>
        <div
          class="notshow flex flex-col items-center justify-center gap-20 md:flex-row"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="md:w-[40%] space-y-2 md:order-2">
            <div>
              <h2>Our Service Ecosystem</h2>
            </div>
            <p>
              Explore how our platform connects these key players, enhancing
              every step of the delivery journey and driving success across the
              supply chain.
            </p>
          </div>
          <div class="md:w-[60%] relative">
            <video
              autoplay
              muted
              loop
              src="/leajlak workflow.mp4"
              class="relative w-full h-full">
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Benfits">
    <div
      class="container section-container flex flex-col justify-center items-center gap-20">
      <div
        class="notshow flex flex-col text-left md:text-center space-y-2 md:w-[60%]"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h3 class="tracking-xl">Benfits</h3>
        <h2 class="text-lg md:text-2xl">
          Bridging Merchants and Logistics Companies for a Seamless Delivery
          Ecosystem
        </h2>
      </div>
      <div class="space-y-32">
        <!-- Merchants -->
        <div
          class="notshow relative flex flex-col lg:flex-row justify-center items-center duration-200 lg:gap-x-14"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="bg-merchant_mobile bg-no-repeat bg-cover p-5 space-y-5 h-full text-white lg:text-black lg:bg-none lg:w-[50%] rounded-xl">
            <div>
              <div
                class="text-primaryOrange text-lg font-medium tracking-xl uppercase">
                Leajlak for
              </div>
              <h2 class="text-white lg:text-black">Merchants</h2>
            </div>
            <p class="text-white lg:text-black">
              Leajlak's solution revolutionizes order management, addressing the
              critical challenges faced by merchants and unlocking the potential
              for a seamless, efficient delivery ecosystem.
            </p>
            <ul class="flex flex-col py-2 space-y-5">
              <TailoredDMS span="Tailored DMS" />
              <RealTT span="Real-Time Tracking" />
              <RiderMang span="Rider Management" />
              <LogisticPartner span="Logistics Partnerships" />
              <Integration span="Integration Capabilities" />
            </ul>
            <div class="inline-flex gap-x-2">
              <a
                href="solutions/merchant-solutions"
                class="inline-flex items-center justify-center text-base bg-primaryOrange px-4 py-3 rounded-md text-white">
                Learn more
                <svg
                  class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  id="arrow">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <Button link="registration/merchants" text="Register Now" />
            </div>
          </div>
          <div class="w-full lg:w-[60%] lg:h-full hidden lg:block">
            <Image
              src={Restaurant}
              class="h-[550px] w-full rounded-xl"
              alt="Restaurant"
              loading="lazy"
            />
          </div>
        </div>
        <!-- 3PL -->
        <div
          class="notshow relative flex flex-col lg:flex-row justify-center items-center duration-200 lg:gap-x-14"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="w-full lg:w-[60%] lg:h-full hidden lg:block">
            <Image
              src={fleet}
              class="h-[550px] w-full rounded-xl"
              loading="lazy"
              alt=""
            />
          </div>
          <div
            class="bg-logistic_mobile bg-no-repeat bg-cover bg-center p-5 space-y-5 h-full text-white lg:text-black lg:bg-none lg:w-[50%] rounded-xl">
            <div>
              <div
                class="text-primaryOrange text-lg font-medium tracking-xl uppercase">
                Leajlak for
              </div>
              <h2 class="text-white lg:text-black">Logistic Companies</h2>
            </div>
            <p class="text-white lg:text-black">
              Addressing the logistical challenges faced by companies, Leajlak's
              Order Management System offers a comprehensive solution to enhance
              operational efficiency and streamline delivery processes.
            </p>

            <ul class="flex flex-col py-2 space-y-5">
              <EDM span="Enhanced Delivery Management" />
              <RTA span="Rider Tracking and Allocation" />
              <Recon span="Streamlined Reconciliation" />
              <FMO span="Fleet Management Optimization" />
              <AOA span="Automated Order Assignments" />
              <CDA span="Centralized dashboard and app" />
            </ul>
            <div class="inline-flex gap-x-2">
              <a
                href="solutions/logistic-solutions"
                class="inline-flex items-center justify-center text-base bg-primaryOrange px-4 py-3 rounded-md text-white">
                Learn more
                <svg
                  class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  id="arrow">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <Button
                link="registration/logistic-companies"
                text="Register Now"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Integration" class="bg-white">
    <div
      class="container section-container flex flex-col items-center justify-center space-y-20">
      <div
        class="notshow text-center space-y-1"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h2>Core features</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-14 gap-y-20">
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-300"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={api} alt="order_status" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">API Integration</h4>
            <p class="text-left lg:text-justify">
              Leajlak can seamlessly integrate with any Cloud POS and e-commerce
              channels, providing real-time synchronization, reducing errors,
              and enhancing operational efficiency. The benefits of API
              integration include streamlined order processing, improved
              delivery accuracy, and faster response times.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-300"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={order_status} alt="order_status" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">Order status</h4>
            <p class="text-left lg:text-justify">
              API-based order status updates provide benefits of real-time
              visibility, improved customer experience, streamlined operations,
              proactive communication, accurate delivery estimates, efficient
              problem resolution
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={LiveLocation} alt="orders" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">Drivers live location</h4>
            <p class="text-left lg:text-justify">
              Offers significant advantages in terms of improving customer
              experience, optimizing delivery operations, enhancing efficiency,
              and ensuring effective management and monitoring of delivery
              processes.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={Payment_methods} alt="Payment-methods" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">Payment methods</h4>
            <p class="text-left lg:text-justify">
              By knowing the payment method of the orders, the delivery process
              is simplified for the delivery riders. Prepaid, Cash On Delivery.
              Card payment upon delivery (Swiping Machine)
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image class="w-16" src={chat} alt="customer-chat" loading="lazy" />
          <div>
            <h4 class="text-xl font-medium">Customer chat</h4>
            <p class="text-left lg:text-justify">
              This API enables communication between customers and delivery
              representatives, offering a convenient channel for addressing
              questions, concerns, and providing information about services.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image
            class="w-16"
            src={Payment}
            alt="Payment-methods"
            loading="lazy"
          />
          <div>
            <h4 class="text-xl font-medium">order return management</h4>
            <p class="text-left lg:text-justify">
              Effective returns process can reduce the risk of fraud, reducing
              the number of returns and improve inventory accuracy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-cta">
    <div
      class="flex flex-col items-center justify-center py-20 px-6 sm:px-16 gap-y-20 lg:flex-row lg:gap-x-20 lg:gap-y-0">
      <div
        class="notshow lg:w-[50%] hidden sm:block"
        data-animation="animate-fade-right animate-duration-[1500ms]">
        <Image
          src={truck}
          alt="truck"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
      <div
        class="notshow flex flex-col items-start justify-center gap-y-10 lg:w-1/2"
        data-animation="animate-fade-left animate-duration-[1500ms]">
        <h4 class="text-2xl md:text-4xl font-bold text-start w-full text-white">
          See Why Businesses Choose Our Platform for Success
        </h4>
        <a
          href="about"
          class="inline-flex items-center justify-center text-xl px-3 py-3 lg:px-5 lg:py-4 text-white rounded-md border border-white hover:-translate-y-1 duration-300">
          Discover more
        </a>
      </div>
    </div>
  </section>
  <section class="bg-digital_bg1 bg-no-repeat bg-cover bg-center bg-fixed">
    <div
      class="container section-container flex flex-col justify-evenly items-center text-center gap-10">
      <h4 class="text-2xl lg:text-4xl font-semibold">
        Hear from Our Happy Clients
      </h4>
      <!-- Carousel -->
      <div class="carousel">
        <Testimonial
          active="active"
          quote="Hello this is Testimonial component test"
          name="Malek"
          position="Dev"
          img_src="/src/images/profile-pic/unsplash_C8Ta0gwPbQg.png"
          img_alt="test"
        />
        <Testimonial
          active=""
          quote="eazeazezae"
          name="ezaeaz"
          position="Dev"
          img_src="/src/images/profile-pic/unsplash_C8Ta0gwPbQg.png"
          img_alt="test"
        />
        <div class="carousel-controls">
          <div class="carousel-control-prev">❮</div>
          <div class="carousel-control-next">❯</div>
        </div>
      </div>
      <!-- Customers -->
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div
      class="container section-container flex flex-col justify-center items-center text-center space-y-20">
      <div
        class="notshow space-y-2"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h3>Our partners</h3>
        <h2>Empowering Success with Our Trusted Partners.</h2>
      </div>
      <!-- Integrated Partners -->
      <div class="space-y-10">
        <h4 class="text-3xl font-medium">Integrated Partners</h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center w-full gap-y-10 gap-x-5 pb-10 border-b-2">
          <Partners />
        </div>
      </div>
      <!-- Logistic Partners -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4
          class="notshow text-3xl font-medium"
          data-animation="animate-fade animate-duration-[1500ms]">
          Logisitc Partners
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 w-full">
          <LogisicPartners />
        </div>
      </div>
      <!-- Clients -->
    </div>
  </section>
  <section>
    <div class="container section-container flex items-center justify-center">
      <div
        class="notshow md:w-1/2 space-y-12"
        data-animation="animate-fade-right animate-duration-[1500ms]">
        <div class="space-y-2">
          <h2 class="text-3xl lg:text-5xl">
            Download <span class="text-primaryOrange">Leajlak</span> app and join
            us as a driver
          </h2>
          <p>
            Are you looking to earn extra income with a flexible schedule? Join
            us at Leajlak as a rider and be part of a dynamic team dedicated to
            providing efficient delivery services.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
            target="”_blank”"
            ><Image src={google} alt="google" class="w-40" /></a
          >
          <a
            href="https://apps.apple.com/tr/app/leajlak/id6444185447"
            target="”_blank”"><Image src={apple} alt="apple" class="w-40" /></a
          >
        </div>
      </div>
      <div
        class="notshow w-1/2 hidden md:block"
        data-animation="animate-fade-left animate-duration-[1500ms]">
        <Image
          src={app}
          alt="app"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Layout>
