---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/TestimonialEn.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";

import Button from "../../components/Button.astro";

import InfiniteScroll from "../../components/InfiniteScroll.astro";
/* Images */
import mockup_sm from "../../../public/images/mockup/mockup_sm.webp";
import fleet from "../../../public/images/bg/fleet.webp";
import Restaurant from "../../../public/images/bg/restaurent.webp";
import app from "../../../public/images/Appmockup.webp";

import videoPlaceHolder_sm from "../../../public/delivery_firstframe_sm.webp";

import google from "../../../public/images/icons/google play.png";
import apple from "../../../public/images/icons/apple store.png";

import TailoredDMS from "../../components/SvgIcons/TailoredDMS.astro";
import RealTT from "../../components/SvgIcons/RealTT.astro";
import RiderMang from "../../components/SvgIcons/RiderMang.astro";
import Integration from "../../components/SvgIcons/Integration.astro";
import LogisticPartner from "../../components/SvgIcons/LogisticPartner.astro";
import EDM from "../../components/SvgIcons/EDM.astro";
import RTA from "../../components/SvgIcons/RTA.astro";
import Recon from "../../components/SvgIcons/Recon.astro";
import FMO from "../../components/SvgIcons/FMO.astro";
import AOA from "../../components/SvgIcons/AOA.astro";
import CDA from "../../components/SvgIcons/CDA.astro";

import HeroButton from "../../components/HeroButton.astro";
import CoreFeatures from "../../components/CoreFeatures.astro";
import BentoGrid from "../../components/BentoGrid.astro";
---

<link
  rel="preload"
  href="/delivery_firstframe_sm.webp"
  as="image"
  media="(max-width: 479px)"
/>
<link
  rel="preload"
  href="/delivery_firstframe_md.webp"
  as="image"
  media="(min-width: 480px) (max-width: 1599px)"
/>
<link
  rel="preload"
  href="/delivery_firstframe_lg.webp"
  as="image"
  media="(min-width: 1600px)"
/>
<script src="/src/Script/videoLoadHundler.js"></script>
<Layout title="Home" lang="en">
  <section class="relative h-screen sm:h-[700px] 3xl:h-[900px]">
    <picture id="videoplaceholder" class="">
      <source
        srcset="/delivery_firstframe_lg.webp"
        media="(min-width: 1600px)"
      />
      <source
        srcset="/delivery_firstframe_md.webp"
        media="(min-width: 480px) (max-width: 1599px)"
      />
      <Image
        src={videoPlaceHolder_sm}
        alt="videoplaceholder"
        class="absolute size-full z-0 bottom-0 object-cover"
        loading="eager"
      />
    </picture>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 z-0"
    >
    </div>
    <video
      autoplay
      playsinline
      muted
      loop
      class="absolute size-full object-cover -z-10"
      id="video"
    >
      <source src="/delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="fade container section-container flex flex-col justify-end items-start h-full gap-y-4"
      data-animation="animate-fade-up animate-duration-[2000ms]"
    >
      <div class="text-white space-y-2">
        <div class="space-y-1">
          <h1>Streamline Your Deliveries,</h1>
          <h1>Elevate Your Business.</h1>
        </div>
        <p class="md:w-2/3">
          We are a leading technology partner dedicated to enhancing the last
          mile delivery experience for companies focused on customer
          satisfaction.
        </p>
      </div>
      <HeroButton href="about" text="Learn more" />
    </div>
  </section>
  <div class="bg-white overflow-hidden" id="InfiniteScroll">
    <div
      class="fade space-y-6 sm:space-y-10 w-full py-10"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h4 class="text-center px-5">Leajlak's empowered brands</h4>
      <InfiniteScroll />
    </div>
  </div>
  <section class="overflow-hidden">
    <div
      class="fade container section-container grid justify-items-center lg:grid-cols-2 items-center sm:gap-y-20 relative"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="space-y-4">
        <div>
          <h3>Who are we?</h3>
          <h2>A delivery management system, for all your needs.</h2>
        </div>
        <p>
          Leajlak's innovative Order Management System is the answer to
          connecting merchants and third-party logistics companies for seamless
          on-demand express & scheduled delivery services.
        </p>
        <p>
          Our solution bridges the gap between merchants and logistic companies
          and can significantly enhance efficiency, reduce costs, and improve
          customer satisfaction. Register now.
        </p>
      </div>

      <div
        class="hidden sm:block relative lg:translate-x-20 lg:-right-5 sm:w-[600px] lg:w-[700px] 3xl:w-[900px]"
      >
        <picture>
          <source
            srcset="/images/mockup/mockup_lg.webp"
            media="(min-width: 1600px)"
          />
          <source
            srcset="/images/mockup/mockup_md.webp"
            media="(min-width: 1024px)"
          />
          <Image
            src={mockup_sm}
            alt="mockup"
            class="w-full h-auto object-cover self-start"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div
      class="container section-container flex flex-col gap-24 overflow-hidden"
    >
      <div
        class="fade flex flex-col gap-12"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h2>Our target sectors</h2>
        <BentoGrid lang="en" />
      </div>
      <div
        class="fade flex flex-col items-center justify-center gap-20 md:flex-row"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="md:w-[30%] space-y-4">
          <div class="space-y-2">
            <h2>Our Service Ecosystem.</h2>
          </div>
          <p>
            Explore how our platform connects these key players, enhancing every
            step of the delivery journey and driving success across the supply
            chain.
          </p>
        </div>
        <div class="md:w-[70%] relative">
          <video
            autoplay
            muted
            loop
            src="/leajlak workflow.mp4"
            class="relative w-full h-full"
          >
          </video>
        </div>
      </div>
    </div>
  </section>
  <section id="Benfits" class="bg-lightGray">
    <div class="space-y-20 lg:space-y-0">
      <!-- Merchants -->
      <div
        class="fade relative grid grid-cols-1 lg:grid-cols-2 justify-between items-center h-full"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="absolute bg-black/70 size-full lg:hidden z-10"></div>
        <div
          class="bg-merchant_solution_mobile bg-cover bg-center bg-no-repeat xs:bg-merchant_solution_med h-full relative text-white p-5 lg:px-20 lg:py-10 lg:text-black lg:bg-none w-full flex flex-col justify-center"
        >
          <div class="space-y-4 z-10">
            <div class="">
              <h3>Solution</h3>
              <h2 class="text-white lg:text-black">for Merchants</h2>
            </div>
            <p class="text-white lg:text-black">
              Leajlak's solution revolutionizes order management, addressing the
              critical challenges faced by merchants and unlocking the potential
              for a seamless, efficient delivery ecosystem.
            </p>
            <ul class="flex flex-col py-2 space-y-5">
              <TailoredDMS span="Tailored DMS" />
              <RealTT span="Real-Time Tracking" />
              <RiderMang span="Rider Management" />
              <LogisticPartner span="Logistics Partnerships" />
              <Integration span="Integration Capabilities" />
            </ul>
            <div class="flex flex-col sm:flex-row gap-3">
              <a
                href="solutions/merchant-solutions"
                class="button-regular flex items-center justify-center group"
              >
                Learn more
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  class="ms-2 size-3 flex-shrink-0 translate-x-0 group-hover:translate-x-2 duration-300"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <Button link="registration/merchants" text="Register Now" />
            </div>
          </div>
        </div>
        <div class="lg:w-full lg:h-full hidden lg:block">
          <Image
            src={Restaurant}
            class="lg:w-full lg:h-full"
            alt="Restaurant"
            loading="lazy"
            width="1000"
            height="666"
            decoding="async"
          />
        </div>
      </div>
      <!-- 3PL -->
      <div
        class="fade relative grid grid-cols-1 lg:grid-cols-2 justify-between items-center h-full"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="absolute bg-black/70 size-full lg:hidden z-10"></div>
        <div class="lg:w-full lg:h-full hidden lg:block">
          <Image
            src={fleet}
            class="lg:w-full lg:h-full"
            loading="lazy"
            alt=""
            width="1000"
            height="665"
            decoding="async"
          />
        </div>
        <div
          class="bg-logistic_solution_mobile xs:bg-logistic_solution_med bg-cover bg-center bg-no-repeat lg:bg-none h-full text-white p-5 lg:px-20 lg:py-10 lg:text-black w-full flex flex-col justify-center"
        >
          <div class="space-y-4 z-10">
            <div>
              <h3>Solution</h3>
              <h2 class="text-white lg:text-black">for Logistic Companies</h2>
            </div>

            <p class="text-white lg:text-black">
              Addressing the logistical challenges faced by companies, Leajlak's
              Order Management System offers a comprehensive solution to enhance
              operational efficiency and streamline delivery processes.
            </p>

            <ul class="flex flex-col py-2 space-y-5">
              <EDM span="Enhanced Delivery Management" />
              <RTA span="Rider Tracking and Allocation" />
              <Recon span="Streamlined Reconciliation" />
              <FMO span="Fleet Management Optimization" />
              <AOA span="Automated Order Assignments" />
              <CDA span="Centralized dashboard and app" />
            </ul>
            <div class="flex flex-col sm:flex-row gap-2">
              <a
                href="solutions/logistic-solutions"
                class="button-regular flex items-center justify-center group"
              >
                Learn more
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  class="ms-2 size-3 flex-shrink-0 translate-x-0 group-hover:translate-x-2 duration-300"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <Button
                link="registration/logistic-companies"
                text="Register Now"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Integration" class="bg-darkGray">
    <div class="container section-container space-y-20">
      <h2 class="md:text-center text-white">Core features</h2>
      <CoreFeatures lang="en" />
    </div>
  </section>
  <section>
    <div
      class="fade container section-container space-y-10 overflow-hidden h-full"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="space-y-1 text-center">
        <h3>testimonials</h3>
        <h2>Hear from our happy customers.</h2>
      </div>
      <Testimonial />
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div class="container section-container space-y-20 text-center">
      <div
        class="fade space-y-1"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h3>Our partners</h3>
        <h2>Empowering Success with Our Trusted Partners.</h2>
      </div>
      <!-- Integrated Partners -->
      <div class="space-y-10">
        <h4
          class="fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          Integrated Partners
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center w-full gap-y-10 gap-x-5 pb-10 border-b-2"
        >
          <Partners />
        </div>
      </div>
      <!-- Logistic Partners -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4
          class="fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          Logisitc Partners
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 w-full"
        >
          <LogisicPartners />
        </div>
      </div>
      <!-- Clients -->
    </div>
  </section>
  <section class="bg-lightGray">
    <div class="container section-container flex items-center justify-center">
      <div
        class="fade md:w-1/2 space-y-12"
        data-animation="animate-fade-right animate-duration-[1000ms]"
      >
        <div class="space-y-1">
          <h2 class="text-3xl lg:text-5xl">
            Download <span class="text-primaryOrange">Leajlak</span> app and join
            us as a driver
          </h2>
          <p>
            Are you looking to earn extra income with a flexible schedule? Join
            us at Leajlak as a rider and be part of a dynamic team dedicated to
            providing efficient delivery services.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
            target="”_blank”"
            ><Image src={google} alt="google" class="w-40" /></a
          >
          <a
            href="https://apps.apple.com/tr/app/leajlak/id6444185447"
            target="”_blank”"><Image src={apple} alt="apple" class="w-40" /></a
          >
        </div>
      </div>
      <div
        class="fade w-1/2 hidden md:block"
        data-animation="animate-fade-left animate-duration-[1000ms]"
      >
        <Image
          src={app}
          alt="app"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Layout>
