---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/TestimonialEn.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";
import InfiniteScroll from "../../components/InfiniteScroll.astro";

import CoreFeatures from "../../components/CoreFeatures.astro";
import Benefits from "../../components/Benefits.astro";
/* Images */
import mockup_sm from "../../images/mockup/mockup_sm.webp";
import mockup_md from "../../images/mockup/mockup_md.webp";
import mockup_lg from "../../images/mockup/mockup_lg.webp";
import app from "../../images/mockup/Appmockup.webp";
import videoPlaceHolder from "../../images/delivery_firstframe.webp";
import videoPlaceHolderMobile from "../../images/delivery_firstframe_mobile.webp";
import google from "../../images/icons/google play.png";
import apple from "../../images/icons/apple store.png";
import SourceImage from "../../components/SourceImageThree.astro";
import ContactPopUp from "../../components/ContactPopUp.astro";

import VideoPlaceHolder from "../../components/VideoPlaceHolder.astro";
import Workflow from "../../components/Workflow.astro";
---

<Layout title="Home" lang="en">
  <ContactPopUp lang="en" />
  <section class="hero">
    <VideoPlaceHolder
      desktopImgUrl={videoPlaceHolder}
      mobileImgUrl={videoPlaceHolderMobile}
      alt="videoplaceholder"
    />
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/65 z-0"
    >
    </div>
    <video
      autoplay
      muted
      loop
      class="absolute size-full object-cover object-center -z-10 top-0 left-0"
      id="video"
    >
    </video>
    <div
      class="fade relative section-container flex flex-col justify-end items-start h-full gap-y-10 z-10"
      data-animation="animate-fade-up animate-duration-[2000ms]"
    >
      <div class="space-y-5">
        <div class="">
          <h1 class="text-white leading-snug lg:w-2/3">
            Struggling with low order delivery success rates?
          </h1>
        </div>
        <p
          class="text-base xs:text-lg 3xl:text-xl font-medium opacity-80 lg:w-1/2 text-white"
        >
          With our advanced technology and our highly trained courier network,
          we’re here to overcome your delivery challenges!
        </p>
      </div>
      <div class="flex items-center gap-5 xs:gap-10 w-full">
        <button class="popupButton button-regular">Contact Us</button>
      </div>
    </div>
  </section>
  <section class="overflow-hidden" id="InfiniteScroll">
    <div
      class="fade space-y-14 w-full py-10"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h2 class="text-center px-5 text-xl xs:text-2xl">
        Leajlak's empowered brands
      </h2>
      <InfiniteScroll />
    </div>
  </section>
  <section class="overflow-hidden bg-lightGray">
    <div
      class="fade section-container grid justify-items-center lg:grid-cols-2 items-center sm:gap-y-20 gap-x-5 relative"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="space-y-5">
        <div>
          <h3>Who are we?</h3>
          <h2 class="md:w-3/5 lg:w-11/12">
            A delivery management system, for all your needs.
          </h2>
        </div>
        <div class="md:w-3/4 space-y-3">
          <p class="text-secondaryBlueText">
            Leajlak's innovative Order Management System is the answer to
            connecting merchants and third-party logistics companies for
            seamless on-demand express & scheduled delivery services.
          </p>
          <p>
            Our solution bridges the gap between merchants and logistic
            companies and can significantly enhance efficiency, reduce costs,
            and improve customer satisfaction. Register now.
          </p>
        </div>
      </div>

      <div
        class="hidden sm:block relative lg:translate-x-20 lg:-right-5 sm:w-[600px] lg:w-[700px] 3xl:w-[900px]"
      >
        <SourceImage
          mobileImgUrl={mockup_sm}
          MidImgUrl={mockup_md}
          desktopImgUrl={mockup_lg}
          alt="mockup"
        />
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div class="section-container overflow-hidden">
      <div
        class="fade flex flex-col items-center justify-center gap-20 md:flex-row pb-5 sm:pb-0"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div
          class="w-full absolute sm:relative bottom-3 sm:bottom-0 md:w-2/3 order-2 md:order-1"
        >
          <Workflow />
        </div><div
          class="md:w-2/6 mb-40 xs:mb-72 sm:mb-0 space-y-5 order-1 md:order-2"
        >
          <div class="">
            <h3>How it works?</h3>
            <h2 class="">Our Service Ecosystem.</h2>
          </div>
          <p class="lg:w-10/12">
            Explore how our platform connects these key players, enhancing every
            step of the delivery journey and driving success across the supply
            chain.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="Benfits" class="bg-lightGray">
    <div class="section-container space-y-28">
      <Benefits />
    </div>
  </section>
  <section id="Integration" class="bg-darkGray">
    <div
      class="fade section-container space-y-20"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h2 class="md:text-center text-white">Core features</h2>
      <CoreFeatures lang="en" />
    </div>
  </section>
  <section class="bg-lightGray">
    <div
      class="fade section-container space-y-10 overflow-hidden h-full"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="text-center">
        <h3>testimonials</h3>
        <h2 class="">Hear from our happy customers.</h2>
      </div>
      <Testimonial />
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div class="section-container space-y-20 text-center">
      <div class="fade" data-animation="animate-fade animate-duration-[1000ms]">
        <h3>Our partners</h3>
        <h2 class="">Empowering Success with Our Trusted Partners.</h2>
      </div>
      <!-- Integrated Partners -->
      <div class="space-y-10">
        <h4
          class="fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          Integrated Partners
        </h4>
        <div
          class="fade flex flex-row flex-wrap items-center justify-evenly lg:justify-center w-full gap-y-10 gap-x-5 pb-10 border-b-2"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <Partners />
        </div>
      </div>
      <!-- Logistic Partners -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4
          class="fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          Logisitc Partners
        </h4>
        <div
          class="fade flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 w-full"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <LogisicPartners />
        </div>
      </div>
      <!-- Clients -->
    </div>
  </section>
  <section class="bg-lightGray">
    <div
      class="mx-auto max-w-7xl px-6 lg:px-10 3xl:px-0 flex items-center justify-between"
    >
      <div
        class="fade md:w-1/2 space-y-12 py-24 md:py-0"
        data-animation="animate-fade-right animate-duration-[1000ms]"
      >
        <div class="space-y-3">
          <h2 class="text-3xl lg:text-5xl">
            Download <span class="text-primaryOrange">Leajlak</span> app and join
            us as a driver
          </h2>
          <p>
            Are you looking to earn extra income with a flexible schedule? Join
            us at Leajlak as a rider and be part of a dynamic team dedicated to
            providing efficient delivery services.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
            target="”_blank”"
            ><Image src={google} alt="google" class="w-40" /></a
          >
          <a
            href="https://apps.apple.com/tr/app/leajlak/id6444185447"
            target="”_blank”"><Image src={apple} alt="apple" class="w-40" /></a
          >
        </div>
      </div>
      <div
        class="fade hidden md:block"
        data-animation="animate-fade-left animate-duration-[1000ms]"
      >
        <Image
          src={app}
          alt="app"
          class="max-w-[476px] h-auto pointer-events-none -translate-y-12"
          loading="lazy"
          fetchpriority="low"
        />
      </div>
    </div>
  </section>
</Layout>
<script src="/src/Script/videoLoadHundler.js"></script>
