---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/TestimonialEn.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";
import InfiniteScroll from "../../components/InfiniteScroll.astro";
import HeroButton from "../../components/HeroButton.astro";
import CoreFeatures from "../../components/CoreFeatures.astro";
import Benefits from "../../components/Benefits.astro";
/* Images */
import mockup_sm from "../../../public/images/mockup/mockup_sm.webp";
import app from "../../../public/images/Appmockup.webp";
import videoPlaceHolder_sm from "../../../public/delivery_firstframe_sm.webp";
import google from "../../../public/images/icons/google play.png";
import apple from "../../../public/images/icons/apple store.png";
---

<link
  rel="preload"
  href="/delivery_firstframe_lg.webp"
  as="image"
  media="(min-width: 480px)"
/>
<link
  rel="preload"
  href="/delivery_firstframe_sm.webp"
  as="image"
  media="(max-width: 479px)"
/>

<script src="/src/Script/videoLoadHundler.js"></script>
<Layout title="Home" lang="en">
  <section class="h-screen">
    <picture id="videoplaceholder" class="">
      <source
        srcset="/delivery_firstframe_lg.webp"
        media="(min-width: 480px)"
      />
      <Image
        src={videoPlaceHolder_sm}
        alt="videoplaceholder"
        class="absolute size-full z-0 bottom-0 object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </picture>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/65 z-0"
    >
    </div>
    <video
      autoplay
      playsinline
      muted
      loop
      class="size-full object-cover -z-10 fixed"
      id="video"
    >
      <source src="/delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="fade container section-container flex flex-col justify-end items-start h-full gap-y-10"
      data-animation="animate-fade-up animate-duration-[2000ms]"
    >
      <div class="text-white space-y-3">
        <div class="">
          <h1>Streamline Your Deliveries,</h1>
          <h1>Elevate Your Business.</h1>
        </div>
        <p class="md:w-[60%] opacity-75 text-lg">
          We are a leading technology partner dedicated to enhancing the last
          mile delivery experience for companies focused on customer
          satisfaction.
        </p>
      </div>
      <HeroButton href="about" text="Learn more" />
    </div>
  </section>
  <div class="bg-white overflow-hidden" id="InfiniteScroll">
    <div
      class="fade space-y-14 w-full py-10"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h2 class="text-center px-5 text-xl xs:text-2xl text-darkText">
        Leajlak's empowered brands
      </h2>
      <InfiniteScroll />
    </div>
  </div>
  <section class="overflow-hidden bg-lightGray">
    <div
      class="fade container section-container grid justify-items-center lg:grid-cols-2 items-center sm:gap-y-20 gap-x-5 relative"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="space-y-5">
        <div>
          <h3>Who are we?</h3>
          <h2 class="md:w-3/5 lg:w-11/12 text-darkText">
            A delivery management system, for all your needs.
          </h2>
        </div>
        <div class="md:w-3/4 space-y-3">
          <p>
            Leajlak's innovative Order Management System is the answer to
            connecting merchants and third-party logistics companies for
            seamless on-demand express & scheduled delivery services.
          </p>
          <p>
            Our solution bridges the gap between merchants and logistic
            companies and can significantly enhance efficiency, reduce costs,
            and improve customer satisfaction. Register now.
          </p>
        </div>
      </div>

      <div
        class="hidden sm:block relative lg:translate-x-20 lg:-right-5 sm:w-[600px] lg:w-[700px] 3xl:w-[900px]"
      >
        <picture>
          <source
            srcset="/images/mockup/mockup_lg.webp"
            media="(min-width: 1600px)"
          />
          <source
            srcset="/images/mockup/mockup_md.webp"
            media="(min-width: 1024px)"
          />
          <Image
            src={mockup_sm}
            alt="mockup"
            class="w-full h-auto object-cover self-start"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div class="container section-container overflow-hidden">
      <div
        class="fade flex flex-col items-center justify-center gap-20 md:flex-row pb-5 sm:pb-0"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div
          class="w-full absolute sm:relative bottom-3 sm:bottom-0 md:w-2/3 order-2 md:order-1"
        >
          <video
            autoplay
            muted
            loop
            src="/leajlak workflow.mp4"
            class="w-full h-auto top-0"
          >
          </video>
        </div><div
          class="md:w-2/6 mb-40 xs:mb-72 sm:mb-0 space-y-5 order-1 md:order-2"
        >
          <div class="">
            <h3>How it works?</h3>
            <h2 class="text-darkText">Our Service Ecosystem.</h2>
          </div>
          <p class="lg:w-10/12">
            Explore how our platform connects these key players, enhancing every
            step of the delivery journey and driving success across the supply
            chain.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="Benfits" class="bg-lightGray">
    <div class="container section-container space-y-28">
      <Benefits />
    </div>
  </section>
  <section id="Integration" class="bg-darkGray">
    <div class="container section-container space-y-20">
      <h2 class="md:text-center text-white">Core features</h2>
      <CoreFeatures lang="en" />
    </div>
  </section>
  <section class="bg-lightGray">
    <div
      class="fade container section-container space-y-10 overflow-hidden h-full"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="text-center">
        <h3>testimonials</h3>
        <h2 class="text-darkText">Hear from our happy customers.</h2>
      </div>
      <Testimonial />
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div class="container section-container space-y-20 text-center">
      <div class="fade" data-animation="animate-fade animate-duration-[1000ms]">
        <h3>Our partners</h3>
        <h2 class="text-darkText">
          Empowering Success with Our Trusted Partners.
        </h2>
      </div>
      <!-- Integrated Partners -->
      <div class="space-y-10">
        <h4
          class="fade text-darkText"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          Integrated Partners
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-evenly lg:justify-center w-full gap-y-10 gap-x-5 pb-10 border-b-2"
        >
          <Partners />
        </div>
      </div>
      <!-- Logistic Partners -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4
          class="fade text-darkText"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          Logisitc Partners
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 w-full"
        >
          <LogisicPartners />
        </div>
      </div>
      <!-- Clients -->
    </div>
  </section>
  <section class="bg-lightGray">
    <div
      class="container mx-auto max-w-7xl px-6 lg:px-10 3xl:px-0 flex items-center justify-between"
    >
      <div
        class="fade md:w-1/2 space-y-12 py-24 md:py-0"
        data-animation="animate-fade-right animate-duration-[1000ms]"
      >
        <div class="space-y-3">
          <h2 class="text-3xl lg:text-5xl text-darkText">
            Download <span class="text-primaryOrange">Leajlak</span> app and join
            us as a driver
          </h2>
          <p>
            Are you looking to earn extra income with a flexible schedule? Join
            us at Leajlak as a rider and be part of a dynamic team dedicated to
            providing efficient delivery services.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
            target="”_blank”"
            ><Image src={google} alt="google" class="w-40" /></a
          >
          <a
            href="https://apps.apple.com/tr/app/leajlak/id6444185447"
            target="”_blank”"><Image src={apple} alt="apple" class="w-40" /></a
          >
        </div>
      </div>
      <div
        class="fade hidden md:block"
        data-animation="animate-fade-left animate-duration-[1000ms]"
      >
        <Image
          src={app}
          alt="app"
          class="max-w-[476px] h-auto pointer-events-none -translate-y-12"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Layout>
