---
import { Image } from "astro:assets";
import cost from "../images/illustrations/cost_saving.webp";
import experience from "../images/illustrations/customer_experience.webp";
import scalability from "../images/illustrations/charts.webp";
import integration from "../images/illustrations/integration.webp";

const { lang = "en" } = Astro.props;
const content = await import(`../data/${lang}.json`);

const benefits = [
  {
    image: cost,
    alt: content.merchants.benefit_1_alt,
    title: content.merchants.benefit_1_title,
    description: content.merchants.benefit_1_description,
  },
  {
    image: experience,
    alt: content.merchants.benefit_2_alt,
    title: content.merchants.benefit_2_title,
    description: content.merchants.benefit_2_description,
  },
  {
    image: scalability,
    alt: content.merchants.benefit_3_alt,
    title: content.merchants.benefit_3_title,
    description: content.merchants.benefit_3_description,
  },
  {
    image: integration,
    alt: content.merchants.benefit_4_alt,
    title: content.merchants.benefit_4_title,
    description: content.merchants.benefit_4_description,
  },
];
---

<div class="container section-container space-y-28 text-secondaryBlueText">
  <div
    class="fade flex flex-col items-center text-center gap-2"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <h2>{content.merchants.benefits_section_title}</h2>
  </div>
  <div class="flex flex-row justify-evenly gap-x-10 gap-y-28 flex-wrap">
    {
      benefits.map((benefit) => (
        <div
          class="benefits-card fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          <div class="image-container">
            <Image src={benefit.image} alt={benefit.alt} loading="lazy" />
          </div>
          <div class="text">
            <h4 class="">{benefit.title}</h4>
            <p>{benefit.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
<style>
  .benefits-card {
    @apply relative flex h-full flex-shrink-0 flex-grow-0 basis-full flex-col justify-end gap-16 rounded-2xl p-6 md:basis-full md:flex-row md:items-center md:justify-between;
  }
  .benefits-card .image-container {
    @apply relative md:w-2/3 lg:w-1/2;
  }
  .image-container img {
    @apply size-full xs:object-cover;
  }
  .text {
    @apply relative space-y-4 md:w-1/2;
  }
  .benefits-card:nth-child(2n) .image-container {
    @apply order-1 md:order-2;
  }
  .benefits-card:nth-child(2n) .text {
    @apply order-2 md:order-1;
  }
</style>
