---
const { lang } = Astro.props;
import { Image } from "astro:assets";
import restaurant from "../../public/images/carousel/restaurant.webp";
import cafe from "../../public/images/carousel/cafe.webp";
import family from "../../public/images/carousel/productive-family.webp";
import onlineStores from "../../public/images/carousel/online-stores.webp";
import pharmacy from "../../public/images/carousel/pharmacy.webp";
const content = await import(`../data/${lang}.json`);
---

<div class="Bento-container">
  <div>
    <span class="grid-item-text">
      {content.Online_Stores}
    </span>
    <Image
      src={onlineStores}
      alt="Online Stores"
      class=""
      loading="lazy"
      decoding="async"
      width="600"
      height="400"
    />
  </div>
  <div>
    <span class="grid-item-text">
      {content.family}
    </span>
    <Image
      src={family}
      alt="Productive Families"
      class="object-left"
      loading="lazy"
      decoding="async"
      width="504"
      height="336"
    />
  </div>
  <div>
    <span class="grid-item-text">
      {content.pharmacy}
    </span>
    <Image
      src={pharmacy}
      alt="Pharmacies"
      class="object-left"
      loading="lazy"
      decoding="async"
      width="600"
      height="400"
    />
  </div>
  <div>
    <span class="grid-item-text">
      {content.cafe}
    </span>
    <Image
      src={cafe}
      alt="Cafés"
      class=""
      loading="lazy"
      decoding="async"
      width="600"
      height="400"
    />
  </div>
  <div>
    <span class="grid-item-text">
      {content.Restaurants}
    </span>
    <Image
      src={restaurant}
      alt="restaurant"
      class="object-center"
      width="800"
      height="600"
      loading="lazy"
      decoding="async"
    />
  </div>
</div>

<style>
  .Bento-container {
    @apply grid auto-rows-fr grid-cols-2 gap-3 xs:auto-cols-min lg:grid-cols-4;
  }
  .Bento-container div {
    @apply relative overflow-hidden rounded-xl will-change-auto after:absolute after:left-0 after:top-0 after:h-full after:w-full after:bg-black after:opacity-50 after:duration-500 after:ease-in hover:after:opacity-70 hover:after:duration-700 hover:after:ease-out;
  }
  .Bento-container div:hover .grid-item-text {
    @apply -translate-y-1/2 duration-700 ease-out;
  }
  .grid-item-text {
    @apply absolute bottom-2 left-2 z-10 text-center text-base font-medium text-white duration-500 ease-in sm:text-lg lg:text-xl;
  }
  .Bento-container div img {
    @apply -z-10 size-full object-cover duration-500 ease-in;
  }
  .Bento-container div:hover img {
    @apply scale-105 duration-700 ease-out;
  }

  .Bento-container div:nth-child(1) {
    @apply col-span-2 xs:col-span-1 lg:col-span-2 lg:h-72;
  }
  .Bento-container div:nth-child(2) {
    @apply lg:h-72;
  }
  .Bento-container div:nth-child(3) {
    @apply lg:h-72;
  }
  .Bento-container div:nth-child(4) {
    @apply col-span-2 xs:col-span-1 lg:h-72;
  }
  .Bento-container div:nth-child(5) {
    @apply col-span-2 md:h-56 lg:col-span-3 lg:h-72;
  }
</style>
