---
import Image from "astro/components/Image.astro";
import order_status from "../../public/images/icons/benefits/integration/order status.svg";
import api from "../../public/images/icons/benefits/integration/api.svg";
import LiveLocation from "../../public/images/icons/benefits/integration/live location.svg";
import Payment_methods from "../../public/images/icons/benefits/integration/payment method.svg";
import chat from "../../public/images/icons/benefits/integration/chat.svg";
import order_return from "../../public/images/icons/benefits/integration/order-return.svg";
const { lang } = Astro.props;
const content = await import(`../data/${lang}.json`);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-20">
  <div
    class="fade FeatureCard"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <Image src={api} alt="Api" />
    <div>
      <h4 class="font-medium">{content.API}</h4>
      <p class="">
        {content.API_text}
      </p>
    </div>
  </div>
  <div
    class="fade FeatureCard"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <Image src={order_status} alt="order_status" />
    <div>
      <h4 class="font-medium">{content.Order}</h4>
      <p>
        {content.Order_text}
      </p>
    </div>
  </div>
  <div
    class="fade FeatureCard"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <Image src={LiveLocation} alt="LiveLocation" />
    <div>
      <h4 class="font-medium">{content.DLL}</h4>
      <p>
        {content.DLL_text}
      </p>
    </div>
  </div>
  <div
    class="fade FeatureCard"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <Image src={Payment_methods} alt="Payment_methods" />
    <div>
      <h4 class="font-medium">{content.Paymentm}</h4>
      <p>
        {content.Paymentm_text}
      </p>
    </div>
  </div>
  <div
    class="fade FeatureCard"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <Image src={chat} alt="chat" />
    <div>
      <h4 class="font-medium">{content.Customerchat}</h4>
      <p>
        {content.Customerchat_text}
      </p>
    </div>
  </div>
  <div
    class="fade FeatureCard"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <Image src={order_return} alt="order_return" />
    <div>
      <h4 class="font-medium">{content.ORM}</h4>
      <p>
        {content.ORM_text}
      </p>
    </div>
  </div>
</div>
<style>
  .FeatureCard {
    @apply flex flex-col items-start justify-center gap-5 text-white md:flex-row;
  }
  .FeatureCard div {
    @apply space-y-1;
  }
  .FeatureCard:hover h4 {
    @apply text-primaryOrange duration-300;
  }
  .FeatureCard img {
    @apply size-16 flex-shrink-0 pt-1;
  }
</style>
