---
const { lang = "en" } = Astro.props;

import { Image } from "astro:assets";
import logo_white from "../images/Logo/logo-2-white.webp";
import logo_normal from "../images/Logo/logo-2.webp";
import english from "../images/flag/uk.svg";
import arabic from "../images/flag/ksa.svg";
const content = await import(`../data/${lang}.json`);
const handleRedirect = (lang: string) => {
  if (lang === "ar") {
    return Astro.url.pathname.replace("ar", "en");
  } else {
    return Astro.url.pathname.replace("en", "ar");
  }
};
---

<header
  id="header"
  class="fixed top-0 z-50 w-full py-2 transition-colors duration-200 ease-in"
>
  <div
    class="fade relative flex flex-row justify-between items-center max-w-7xl mx-auto px-6 lg:px-10 2xl:px-0 h-12 lg:h-16 lg:justify-between"
    data-animation="animate-fade animate-duration-[2000ms]"
  >
    <a href=`/${lang}/`>
      <Image
        loading="eager"
        id="logo-default"
        class="header-logo"
        src={logo_white}
        alt="logo"
      />

      <Image
        loading="lazy"
        id="logo-scrolled"
        class="header-logo hidden"
        src={logo_normal}
        alt="logo"
      />
    </a>
    <div class="nav-list">
      <div class="nav_item items">
        <a href={`/${lang}/`} data-route={`/${lang}`}>{content.home}</a>
      </div>
      <div class="nav_item items">
        <a href={`/${lang}/about`} data-route={`/${lang}/about`}
          >{content.about}</a
        >
      </div>
      <div class="nav_item items">
        <a href={`/${lang}/case-studies`} data-route={`/${lang}/case-studies`}
          >{content.Case}</a
        >
      </div>
      <!-- Dropdown menu -->
      <div
        class="relative space-y-2 lg:space-y-0 lg:h-full items border-b-2 w-full lg:border-b-0 lg:w-auto"
        id="dropdownHoverButton"
      >
        <div class="flex lg:h-full" id="dropdown-button">
          <button class="flex gap-2 items-center lg:h-full"
            >{content.solutions}
            <svg
              class="transition-transform duration-300"
              width="10"
              height="10"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
        </div>
        <div
          id="dropdownHover"
          class="pt-1 lg:absolute lg:w-48 lg:bg-white lg:p-4 lg:rounded-lg lg:right-0 lg:drop-shadow-lg"
        >
          <div class="flex flex-col gap-3 text-secondaryBlueText">
            <a
              href={`/${lang}/solutions/merchant-solutions`}
              data-route={`/${lang}/solutions/merchant-solutions`}
              aria-label="merchants">{content.for_merchants}</a
            >
            <a
              href={`/${lang}/solutions/logistic-solutions`}
              data-route={`/${lang}/solutions/logistic-solutions`}
              aria-label="logistics">{content.For_3PL_Companies}</a
            >
          </div>
        </div>
      </div>
      <!-- Registration menu -->
      <div
        class="relative gap-2 flex flex-col w-full lg:gap-0 lg:w-auto lg:h-full lg:justify-center items border-b-2 lg:border-b-0"
        id="registerMenuButton"
      >
        <button class="flex items-center gap-2 lg:h-full" id="registerButton">
          {content.contact}
          <svg
            class="transition-transform duration-300"
            width="10"
            height="10"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"></path>
          </svg>
        </button>
        <div id="registerMenu">
          <ul
            class="grid sm:grid-cols-2 sm:grid-rows-2 lg:grid-cols-1 lg:grid-rows-1 text-secondaryBlueText gap-5 sm:gap-14 pt-2 lg:gap-0 lg:p-2 w-full"
          >
            <li>
              <div
                class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md duration-200 group"
              >
                <a
                  href={`/${lang}/contact/merchants`}
                  data-route={`/${lang}/contact/merchants`}
                  class="flex flex-row items-start justify-between gap-2 register_item"
                  aria-label="merchants-contact"
                >
                  <div class="flex flex-col gap-1">
                    <h6
                      class="lg:text-sm group-hover:text-darkerOrange duration-200"
                    >
                      {content.Merchants}
                    </h6>
                    <span
                      class="text-secondaryBlueText/50 text-sm lg:text-xsm group-hover:text-secondaryBlueText/80 duration-200"
                    >
                      {content.MD}
                    </span>
                  </div>
                  <div
                    class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                  >
                    <svg
                      class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                      viewBox="-2.4 -2.4 28.8 28.8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      transform="rotate(45)"
                      ><path
                        d="M7 17 17 7m0 0H8m9 0v9"
                        stroke=""
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path></svg
                    >
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div
                class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md group"
              >
                <a
                  href={`/${lang}/contact/logistic-companies`}
                  data-route={`/${lang}/contact/logistic-companies`}
                  class="flex flex-row items-start justify-between gap-2 register_item"
                  aria-label="logistic-companie-contact"
                >
                  <div class="flex flex-col gap-1">
                    <h6
                      class="lg:text-sm group-hover:text-darkerOrange duration-200"
                    >
                      {content.LC}
                    </h6>
                    <span
                      class="text-secondaryBlueText/50 text-sm lg:text-xsm group-hover:text-secondaryBlueText/80 duration-200"
                    >
                      {content.LCD}
                    </span>
                  </div>
                  <div
                    class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                  >
                    <svg
                      class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                      viewBox="-2.4 -2.4 28.8 28.8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      transform="rotate(45)"
                      ><path
                        d="M7 17 17 7m0 0H8m9 0v9"
                        stroke=""
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path></svg
                    >
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div
                class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md duration-200 group"
              >
                <a
                  href={`/${lang}/contact/drivers`}
                  data-route={`/${lang}/contact/drivers`}
                  class="flex flex-row items-start justify-between gap-2 register_item"
                  aria-label="drivers-contact"
                >
                  <div class="flex flex-col gap-1">
                    <h6
                      class="lg:text-sm group-hover:text-darkerOrange duration-200"
                    >
                      {content.drivers}
                    </h6>
                    <span
                      class="text-secondaryBlueText/50 text-sm lg:text-xsm group-hover:text-secondaryBlueText/80 duration-200"
                    >
                      {content.DD}
                    </span>
                  </div>
                  <div
                    class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                  >
                    <svg
                      class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                      viewBox="-2.4 -2.4 28.8 28.8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      transform="rotate(45)"
                      ><path
                        d="M7 17 17 7m0 0H8m9 0v9"
                        stroke=""
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path></svg
                    >
                  </div>
                </a>
              </div>
            </li>
            <li>
              <div
                class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md duration-200 group"
              >
                <a
                  href={`/${lang}/contact/employees`}
                  data-route={`/${lang}/contact/employees`}
                  class="flex flex-row items-start justify-between gap-2 register_item"
                  aria-label="employees-contact"
                >
                  <div class="flex flex-col gap-1">
                    <h6
                      class="lg:text-sm group-hover:text-darkerOrange duration-200"
                    >
                      {content.Employees}
                    </h6>
                    <span
                      class="text-secondaryBlueText/50 text-sm lg:text-xsm group-hover:text-secondaryBlueText/80 duration-200"
                    >
                      {content.ED}
                    </span>
                  </div>
                  <div
                    class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                  >
                    <svg
                      class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                      viewBox="-2.4 -2.4 28.8 28.8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      transform="rotate(45)"
                      ><path
                        d="M7 17 17 7m0 0H8m9 0v9"
                        stroke=""
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path></svg
                    >
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Desktop -->
      <a
        href="https://app.leajlak.com/login"
        target="”_blank”"
        class="button lg:hidden">{content.log_in}</a
      >
      <div
        class="button-dropdown-menu relative flex flex-col items-start lg:hidden"
      >
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md cursor-pointer gap-2 hover:text-primaryOrange"
          aria-describedby="language button"
        >
          {
            () => {
              if (lang === "en") {
                return (
                  <>
                    <Image
                      loading="eager"
                      src={english}
                      class="size-6  rounded-full pointer-events-none"
                      aria-label="English Language icon"
                      alt="IMAGE-UK"
                    />
                    <span>English</span>
                  </>
                );
              } else {
                return (
                  <>
                    <Image
                      loading="eager"
                      src={arabic}
                      class="size-6  rounded-full pointer-events-none"
                      alt="IMAGE-KSA"
                      aria-label="ايقونة اللغة العربية"
                    />
                    <span>العربية</span>
                  </>
                );
              }
            }
          }
        </button>
        <div
          class="language-dropdown-menu lg:absolute lg:top-16 lg:right-0 lg:bg-white lg:w-48 lg:rounded-lg lg:drop-shadow-lg"
          id="language-dropdown-menu"
          aria-describedby="language choices"
        >
          <ul
            class="font-medium text-secondaryBlueText py-5 lg:px-4 space-y-4"
            role="none"
          >
            {
              () => {
                if (lang === "en") {
                  return (
                    <li class="lg:hover:text-primaryOrange">
                      <a
                        href={`${handleRedirect("en")}`}
                        class="hover:text-primaryOrange inline-flex items-center  font-semibold"
                        role="menuitem"
                        aria-label="arabic Language choice"
                      >
                        <Image
                          loading="lazy"
                          src={arabic}
                          class="size-6 rounded-full me-2 pointer-events-none"
                          alt="IMAGE-KSA"
                        />
                        Arabic
                      </a>
                    </li>
                  );
                }
              }
            }
            {
              () => {
                if (lang === "ar") {
                  return (
                    <li
                      class=" lg:hover:text-primaryOrange"
                      aria-describedby="language choice"
                    >
                      <a
                        href={`${handleRedirect("ar")}`}
                        class="hover:text-primaryOrange inline-flex items-center  font-semibold"
                        role="menuitem"
                        aria-label="english Language choice"
                      >
                        <Image
                          loading="lazy"
                          src={english}
                          class="size-6 rounded-full me-2 pointer-events-none"
                          alt="IMAGE-UK"
                        />
                        English
                      </a>
                    </li>
                  );
                }
              }
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="hidden lg:flex lg:items-center lg:gap-8 lg:h-full">
      <a href="https://app.leajlak.com/login" target="”_blank”" class="button"
        >{content.log_in}</a
      >
      <div
        class="button-dropdown-menu lg:relative lg:flex lg:flex-row lg:items-center lg:h-full"
      >
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md cursor-pointer gap-2 text-white hover:text-primaryOrange duration-300 ease-in font-semibold"
          aria-describedby="language button"
        >
          {
            () => {
              if (lang === "en") {
                return (
                  <>
                    <Image
                      loading="eager"
                      src={english}
                      class="size-6  rounded-full pointer-events-none"
                      aria-label="English Language icon"
                      alt="IMAGE-UK"
                    />
                    <span>English</span>
                  </>
                );
              } else {
                return (
                  <>
                    <Image
                      loading="eager"
                      src={arabic}
                      class="size-6  rounded-full pointer-events-none"
                      alt="IMAGE-KSA"
                      aria-label="ايقونة اللغة العربية"
                    />
                    <span>العربية</span>
                  </>
                );
              }
            }
          }
        </button>
        <div
          class="language-dropdown-menu lg:absolute lg:top-16 lg:right-0 lg:bg-white lg:w-48 lg:rounded-lg lg:drop-shadow-lg"
          aria-describedby="language choices"
        >
          <ul
            class="font-semibold text-secondaryBlueText py-5 lg:px-4 space-y-4"
            role="none"
          >
            {
              () => {
                if (lang === "en") {
                  return (
                    <li>
                      <a
                        href={`${handleRedirect("en")}`}
                        class="hover:text-darkerOrange duration-300 ease-in inline-flex items-center  "
                        role="menuitem"
                        aria-label="arabic Language choice"
                      >
                        <Image
                          loading="lazy"
                          src={arabic}
                          class="size-6 rounded-full me-2 pointer-events-none"
                          alt="IMAGE-KSA"
                        />
                        Arabic
                      </a>
                    </li>
                  );
                }
              }
            }
            {
              () => {
                if (lang === "ar") {
                  return (
                    <li aria-describedby="language choice">
                      <a
                        href={`${handleRedirect("ar")}`}
                        class="hover:text-darkerOrange duration-300 ease-in inline-flex items-center"
                        role="menuitem"
                        aria-label="english Language choice"
                      >
                        <Image
                          loading="lazy"
                          src={english}
                          class="size-6 rounded-full me-2 pointer-events-none"
                          alt="IMAGE-UK"
                        />
                        English
                      </a>
                    </li>
                  );
                }
              }
            }
          </ul>
        </div>
      </div>
    </div>

    <button
      class="menu-toggle block lg:hidden"
      name="burgerMenu"
      aria-label="burgerMenu"
    >
      <div id="burger" class="menu-burger burger-1"></div>
      <div id="burger" class="menu-burger burger-2"></div>
      <div id="burger" class="menu-burger burger-3"></div>
    </button>
  </div>
</header>
