---
const { lang = "en" } = Astro.props;

import { Image } from "astro:assets";
import logo_white from "../../public/images/logo 2 white.webp";
import logo_normal from "../../public/images/logo 2.webp";
import english from "../../public/images/flag/uk.svg";
import arabic from "../../public/images/flag/ksa.svg";
const content = await import(`../data/${lang}.json`);
const handleRedirect = (lang: string) => {
  if (lang === "ar") {
    return Astro.url.pathname.replace("ar", "en");
  } else {
    return Astro.url.pathname.replace("en", "ar");
  }
};
---

<header id="header">
  <div
    class="fade relative flex flex-row justify-between items-center max-w-7xl mx-auto px-6 lg:px-14 3xl:px-0 h-12 lg:h-16 lg:justify-between"
    data-animation="animate-fade animate-duration-[2000ms]"
  >
    <a href=`/${lang}/`>
      <Image
        loading="eager"
        id="logo-default"
        class="header-logo"
        src={logo_white}
        alt="logo"
        decoding="async"
      />
      <Image
        loading="lazy"
        id="logo-scrolled"
        class="header-logo scrolled"
        src={logo_normal}
        alt="log"
      />
    </a>
    <div class="nav-list">
      <div class="nav_item items">
        <a href={`/${lang}/`} data-route={`/${lang}`}>{content.home}</a>
      </div>
      <div class="nav_item items">
        <a href={`/${lang}/about`} data-route={`/${lang}/about`}
          >{content.about}</a
        >
      </div>
      <div class="nav_item items">
        <a href={`/${lang}/contact`} data-route={`/${lang}/contact`}
          >{content.contact}</a
        >
      </div>
      <!-- Dropdown menu -->
      <div
        class="relative flex flex-col lg:flex-row lg:items-center cursor-pointer lg:h-full items"
        id="dropdownHoverButton"
      >
        <div class="flex gap-2 items-center lg:h-full">
          <span>{content.solutions}</span>
          <svg
            class="transition-transform duration-300"
            width="10"
            height="10"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"></path>
          </svg>
        </div>
        <div id="dropdownHover" class="dropdown-menu">
          <ul
            class="lg:px-4 lg:py-5 lg:space-y-4 space-y-2 mt-2 lg:mt-0 text-black"
          >
            <li class="lg:opacity-0">
              <a
                href={`/${lang}/solutions/merchant-solutions`}
                data-route={`/${lang}/solutions/merchant-solutions`}
                aria-label="merchants">{content.for_merchants}</a
              >
            </li>
            <li class="lg:opacity-0">
              <a
                href={`/${lang}/solutions/logistic-solutions`}
                data-route={`/${lang}/solutions/logistic-solutions`}
                aria-label="logistics">{content.For_3PL_Companies}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- Registration menu -->
      <div
        class="relative flex flex-col gap-5 lg:items-start lg:flex-row w-full lg:w-auto"
      >
        <div class="w-full relative" id="registerMenuButton">
          <button class="button">
            {content.register}
          </button>
          <div class="register-menu" id="registerMenu">
            <ul
              class="grid sm:grid-cols-2 sm:grid-rows-2 lg:grid-cols-1 lg:grid-rows-1 text-black gap-5 pt-2 lg:gap-0 lg:p-2 w-full"
            >
              <li>
                <div
                  class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md group"
                >
                  <a
                    href={`/${lang}/registration/logistic-companies`}
                    data-route={`/${lang}/registration/logistic-companies`}
                    class="flex flex-row items-start justify-between gap-2 register_item"
                    aria-label="logistic-companie-registration"
                  >
                    <div class="flex flex-col gap-1">
                      <div
                        class="text-sm group-hover:text-primaryOrange duration-200"
                      >
                        {content.LC}
                      </div>
                      <span
                        class="text-black/50 text-xsm group-hover:text-black/80 duration-200"
                      >
                        {content.LCD}
                      </span>
                    </div>
                    <div
                      class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                    >
                      <svg
                        class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                        viewBox="-2.4 -2.4 28.8 28.8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        transform="rotate(45)"
                        ><path
                          d="M7 17 17 7m0 0H8m9 0v9"
                          stroke=""
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path></svg
                      >
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div
                  class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md duration-200 group"
                >
                  <a
                    href={`/${lang}/registration/merchants`}
                    data-route={`/${lang}/registration/merchants`}
                    class="flex flex-row items-start justify-between gap-2 register_item"
                    aria-label="merchants-registration"
                  >
                    <div class="flex flex-col gap-1">
                      <div
                        class="text-sm group-hover:text-primaryOrange duration-200"
                      >
                        {content.Merchants}
                      </div>
                      <span
                        class="text-black/50 text-xsm group-hover:text-black/80 duration-200"
                      >
                        {content.MD}
                      </span>
                    </div>
                    <div
                      class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                    >
                      <svg
                        class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                        viewBox="-2.4 -2.4 28.8 28.8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        transform="rotate(45)"
                        ><path
                          d="M7 17 17 7m0 0H8m9 0v9"
                          stroke=""
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path></svg
                      >
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div
                  class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md duration-200 group"
                >
                  <a
                    href={`/${lang}/registration/drivers`}
                    data-route={`/${lang}/registration/drivers`}
                    class="flex flex-row items-start justify-between gap-2 register_item"
                    aria-label="drivers-registration"
                  >
                    <div class="flex flex-col gap-1">
                      <div
                        class="text-sm group-hover:text-primaryOrange duration-200"
                      >
                        {content.drivers}
                      </div>
                      <span
                        class="text-black/50 text-xsm group-hover:text-black/80 duration-200"
                      >
                        {content.DD}
                      </span>
                    </div>
                    <div
                      class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                    >
                      <svg
                        class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                        viewBox="-2.4 -2.4 28.8 28.8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        transform="rotate(45)"
                        ><path
                          d="M7 17 17 7m0 0H8m9 0v9"
                          stroke=""
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path></svg
                      >
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div
                  class="lg:p-3 cursor-pointer lg:hover:bg-gray-100 rounded-md duration-200 group"
                >
                  <a
                    href={`/${lang}/registration/employees`}
                    data-route={`/${lang}/registration/employees`}
                    class="flex flex-row items-start justify-between gap-2 register_item"
                    aria-label="employees-registration"
                  >
                    <div class="flex flex-col gap-1">
                      <div
                        class="text-sm group-hover:text-primaryOrange duration-200"
                      >
                        {content.Employees}
                      </div>
                      <span
                        class="text-black/50 text-xsm group-hover:text-black/80 duration-200"
                      >
                        {content.ED}
                      </span>
                    </div>
                    <div
                      class="ltr:group-hover:-translate-x-1 rtl:group-hover:translate-x-1 duration-200 rtl:rotate-180"
                    >
                      <svg
                        class="size-5 stroke-black group-hover:stroke-primaryOrange duration-200"
                        viewBox="-2.4 -2.4 28.8 28.8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        transform="rotate(45)"
                        ><path
                          d="M7 17 17 7m0 0H8m9 0v9"
                          stroke=""
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path></svg
                      >
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a
        href="https://app.4ulogistic.com/login"
        target="”_blank”"
        class="button">{content.log_in}</a
      >
      <!-- Language dropdown -->
      <div
        class="relative flex flex-col items-start lg:flex-row lg:items-center items"
        id="button-dropdown-menu"
      >
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md cursor-pointer gap-2 hover:text-primaryOrange"
        >
          {
            () => {
              if (lang === "en") {
                return (
                  <>
                    <Image
                      loading="eager"
                      src={english}
                      class="size-6  rounded-full pointer-events-none"
                      alt=""
                    />
                    <span>English</span>
                  </>
                );
              } else {
                return (
                  <>
                    <Image
                      loading="lazy"
                      src={arabic}
                      class="size-6  rounded-full pointer-events-none"
                      alt=""
                    />
                    <span>العربية</span>
                  </>
                );
              }
            }
          }
        </button>
        <div class="language-dropdown" id="language-dropdown-menu">
          <ul class="font-medium text-black py-5 lg:px-4 space-y-4" role="none">
            {
              () => {
                if (lang === "en") {
                  return (
                    <li class=" lg:opacity-0 lg:hover:text-primaryOrange lg:delay-75">
                      <a
                        href={`${handleRedirect("en")}`}
                        class="hover:text-primaryOrange inline-flex items-center"
                        role="menuitem"
                        aria-label="arabic"
                      >
                        <Image
                          loading="eager"
                          src={arabic}
                          class="size-6 rounded-full m-2 pointer-events-none"
                          alt=""
                        />
                        Arabic
                      </a>
                    </li>
                  );
                }
              }
            }
            {
              () => {
                if (lang === "ar") {
                  return (
                    <li class=" lg:opacity-0 lg:hover:text-primaryOrange">
                      <a
                        href={`${handleRedirect("ar")}`}
                        class="hover:text-primaryOrange inline-flex items-center"
                        role="menuitem"
                      >
                        <Image
                          loading="lazy"
                          src={english}
                          class="size-6 rounded-full m-2 pointer-events-none"
                          alt=""
                        />
                        English
                      </a>
                    </li>
                  );
                }
              }
            }
          </ul>
        </div>
      </div>
    </div>
    <button class="menu-toggle block cursor-pointer lg:hidden">
      <div id="burger" class="menu-burger burger-1"></div>
      <div id="burger" class="menu-burger burger-2"></div>
      <div id="burger" class="menu-burger burger-3"></div>
    </button>
  </div>
</header>
