---
import { Image } from "astro:assets";

const logos = await Astro.glob("../images/companies logo/clients/*.webp");
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const sliders = document.querySelectorAll(".slider");
    const totalLogos = sliders.length;
    sliders.forEach((slider, i) => {
      slider.style.animationDelay = `calc(35s / ${totalLogos} * (${totalLogos} - (${i} + 1)) * -1)`;
    });
  });
</script>

<div class="relative w-full h-10 sm:h-20 group" id="slider-container">
  {
    logos.map((logo) => {
      const src = logo.default.src.split("/").pop().split(".")[0];
      const altText = `${src} logo`;

      return (
        <div class="slider absolute size-14 sm:size-20 left-[max(calc(80px*46),100%)] sm:left-[max(calc(200px*46),100%)] sm:animate-loop-scroll animate-loop-scroll-mobile group-hover:animate-pause object-contain">
          <Image
            src={logo.default}
            alt={altText}
            loading="lazy"
            class="size-full"
          />
        </div>
      );
    })
  }
</div>
