---
import { Image } from "astro:assets";

const logos = await Astro.glob(
  "../../public/images/companies logo/clients/*.webp"
);
---

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const sliders = document.querySelectorAll(".slider");
    const totalLogos = sliders.length;
    sliders.forEach((slider, i) => {
      slider.style.animationDelay = `calc(20s / ${totalLogos} * (${totalLogos} - (${i} + 1)) * -1)`;
    });
  });
</script>

<div class="relative w-full h-10 xs:h-20 group" id="slider-container">
  {
    logos.map((logo) => {
      const src = logo.default.src.split("/").pop().split(".")[0];
      const altText = `${src} logo`;

      return (
        <picture class="slider absolute size-16 xs:size-24 left-[max(calc(130px*13),100%)] xs:left-[max(calc(300px*13),100%)] xs:animate-loop-scroll animate-loop-scroll-mobile group-hover:animate-pause object-contain">
          <Image
            src={logo.default}
            alt={altText}
            loading="lazy"
            decoding="async"
            class="size-full"
          />
        </picture>
      );
    })
  }
</div>
