---
const { id, label_text, data_needed } = Astro.props;
let required = false;
let required_input = "";
{
  if (data_needed === true) {
    required_input = "input-email";
    required = true;
  } else {
    (required_input = "") && (required = false);
  }
}
const { lang } = Astro.props;
---

<div>
  <div class="relative">
    <input
      type="email"
      name={id}
      id={id}
      placeholder=""
      {required}
      class:list=`${required_input} block rounded-lg p-4 w-full bg-gray-100 border-transparent focus:border-gray-400 border-2 focus:bg-transparent lg:w-84 text-black  duration-300 outline-0  appearance-none peer`
    />
    <label
      for={id}
      class="absolute text-sm sm:text-base text-gray-500 duration-300 transform -translate-y-4 scale-75 ltr:left-0 rtl:right-0 -top-2 z-10 px-4 origin-[0] peer-focus:px-4 peer-focus:text-darkerOrange peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:-top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1"
    >
      {label_text}
      {data_needed && <span class="text-red-700"> *</span>}
    </label>
  </div>
  <span class="error-message font-normal text-red-700 mt-1 hidden">
    {
      () => {
        if (lang === "ar") {
          return "يُرجى إدخال بريد إلكتروني صحيح.";
        }
        return "please enter a valid email.";
      }
    }
  </span>
</div>
