---
import { Image } from "astro:assets";

import Layout from "../../../layouts/Layout.astro";
import cost from "../../../images/bg/cost_saving.webp";
import experience from "../../../images/bg/customer experience.webp";
import scalability from "../../../images/bg/charts.webp";
import integration from "../../../images/bg/integration.webp";
import portrait from "../../../images/profile-pic/portrait.png";
import TailoredDMS from "../../../components/SvgIcons/TailoredDMS.astro";
import RealTT from "../../../components/SvgIcons/RealTT.astro";
import Integration from "../../../components/SvgIcons/Integration.astro";
import RiderMang from "../../../components/SvgIcons/RiderMang.astro";
import LogisticPartner from "../../../components/SvgIcons/LogisticPartner.astro";
---

<Layout title="الحلول | التجار" lang="ar">
  <section
    class="bg-merchant_mobile sm:bg-merchant bg-cover bg-center bg-no-repeat bg-fixed"
    id="merchants-hero">
    <div
      class="notshow container section-container hero"
      data-animation="animate-fade animate-duration-[2000ms]">
      <h1 class="py-16 text-white text-3xl md:text-4xl text-center md:w-[90%]">
        نظام إدارة الطلبات المبتكر للتجار
      </h1>
    </div>
  </section>
  <section>
    <div
      class="container section-container flex flex-col items-center justify-center gap-20">
      <div
        class="notshow flex flex-col items-center text-center gap-2"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h2 class="text-primaryOrange">حلولنا</h2>
        <p class="w-[70%]">
          حل لأجلك يحدث ثورة في إدارة الطلبات، حيث يعالج التحديات الحرجة التي
          يواجهها التجار ويفتح الإمكانيات لنظام توصيل سلس وفعال.
        </p>
      </div>
      <div class="flex flex-row flex-wrap items-center justify-center gap-5">
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <TailoredDMS />
          <div>
            <h4 class="text-2xl font-medium">نظام إدارة مخصص</h4>
            <p>
              يوفر حل لأجلك نظام إدارة توصيل (DMS) قابل للتخصيص لتلبية
              الاحتياجات المحددة لكل عمل، مما يضمن ملاءمة مثالية لمتطلبات
              العمليات المتنوعة.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <RealTT />

          <div>
            <h4>تتبع الوقت الحقيقي</h4>
            <p>
              من خلال التكامل مع لأجلك، يوفر النظام تتبع الطلبات في الوقت
              الحقيقي وتحديثات الحالة، مما يمكّن التجار من رؤية دقيقة لعمليات
              التوصيل الخاصة بهم.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Integration />

          <div>
            <h4>قدرات التكامل</h4>
            <p>
              تكامل سلس مع شركات الخدمات اللوجستية المتعددة، مما يمكّن التجار من
              توسيع شبكة التوصيل الخاصة بهم واستغلال نقاط القوة لدى شركاء
              مختلفين.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <RiderMang />
          <div>
            <h4>إدارة السائقين</h4>
            <p>
              التغلب على تعقيدات إدارة السائقين الداخليين والمستأجرين من خلال
              تخصيص السائقين وإدارة المهام بكفاءة داخل النظام.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <LogisticPartner />
          <div>
            <h4>شراكات اللوجستيات</h4>
            <p>
              تسهيل اكتشاف وتسجيل الشركاء اللوجستيين المثاليين، مما يقلل من
              الوقت الضائع في التنفيذ ويعزز قدرات التوصيل.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="merchant-benefits" class="bg-white">
    <div
      class="container section-container flex-col items-center justify-center space-y-28">
      <div
        class="notshow flex flex-col items-center text-center gap-2"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h2 class="text-primaryOrange">فوائد التجار</h2>
        <p>استغل الإمكانيات الكاملة لعملك مع هذه الفوائد الرئيسية</p>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <Image
            src={cost}
            alt="توفير التكاليف"
            loading="lazy"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 sm:py-10 md:px-20 md:w-[80%] lg:left-40 lg:h-80 lg:w-1/2"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute left-0 -bottom-6 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping animate-once">
            1
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">
            خفض التكاليف وزيادة الأرباح
          </h4>
          <p>
            قلل من التكاليف التشغيلية من خلال تقليل أخطاء التوصيل، وتحسين الطرق،
            وتقليل نفقات الوقود.
          </p>
        </div>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2 lg:order-2"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <Image
            src={integration}
            alt="توفير التكاليف"
            loading="lazy"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 z-10 sm:py-10
        md:px-20 md:w-[80%] lg:right-40 lg:h-80 lg:w-1/2 lg:order-1"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute right-0 -bottom-12 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping animate-once">
            2
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">التكامل بسهولة</h4>
          <p>
            يتكامل نظامنا بسلاسة مع أنظمتك الحالية، بما في ذلك منصات التجارة
            الإلكترونية وبوابات الدفع، لعمل سير عمل سلس.
          </p>
        </div>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <Image
            src={scalability}
            alt="توفير التكاليف"
            loading="lazy"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 sm:py-10 md:px-20 md:w-[80%] lg:left-40 lg:h-80 lg:w-1/2"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute left-0 -bottom-12 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping animate-once">
            3
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">نمو بلا حدود</h4>
          <p>
            قم بتوسيع عملياتك بسهولة للتعامل مع زيادة أحجام الطلبات، مما يستوعب
            نمو الأعمال دون المساس بالكفاءة.
          </p>
        </div>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2 lg:order-2"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <Image
            src={experience}
            alt="توفير التكاليف"
            loading="lazy"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 z-10 sm:py-10 md:px-20 md:w-[80%] lg:right-40 lg:h-80 lg:w-1/2 lg:order-1"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute right-0 -bottom-12 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping animate-once">
            4
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">
            توصيل أسرع، وإسعاد العملاء
          </h4>
          <p>
            عزز رضا العملاء من خلال أوقات توصيل أسرع وإشعارات في الوقت الحقيقي،
            مما يضمن تجربة سلسة من الطلب إلى التوصيل.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div id="Solutions-cta">
    <div
      class="notshow container section-container cta text-center gap-10"
      data-animation="animate-fade animate-duration-[1500ms]">
      <h1 class="text-2xl lg:text-4xl lg:w-[50%]">
        عزز ولاء العملاء مع التوصيلات الموثوقة.
      </h1>

      <a
        href="#"
        class="inline-flex items-center justify-center px-5 py-3 md:text-xl text-white bg-primaryOrange rounded-lg hover:shadow-lg hover:-translate-y-1 duration-300">
        انضم الآن
      </a>
    </div>
  </div>
  <section>
    <div
      class="container section-container flex flex-col justify-center gap-24">
      <h2
        class="notshow text-center"
        data-animation="animate-fade animate-duration-[1500ms]">
        لا تأخذ كلامنا فقط
      </h2>
      <div class="flex flex-wrap items-center justify-between gap-5">
        <div
          class="notshow flex flex-col items-center space-y-5 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded bg-white group-hover:bg-primaryOrange group-hover:text-white duration-200 h-[250px] after:content-[''] after:absolute after:-bottom-[6%] after:h-0 after:w-0 after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-t-[15px] after:border-solid after:border-t-transparent group-hover:after:border-t-primaryOrange after:duration-200">
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve">
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "لوريم إيبسوم دولور سيت أميت، كونسكتتور أديبيسيتنج إيليت.
              إكسرسيتيتيونيم، كويشام!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="صورة"
                loading="lazy"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h4 class="text-2xl font-semibold">الاسم</h4>
                <p>المدينة</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div
          class="notshow flex flex-col items-center space-y-5 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded bg-white group-hover:bg-primaryOrange group-hover:text-white duration-200 h-[250px] after:content-[''] after:absolute after:-bottom-[6%] after:h-0 after:w-0 after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-t-[15px] after:border-solid after:border-t-transparent group-hover:after:border-t-primaryOrange after:duration-200">
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve">
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "لوريم إيبسوم دولور سيت أميت، كونسكتتور أديبيسيتنج إيليت.
              إكسرسيتيتيونيم، كويشام!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="صورة"
                loading="lazy"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h4 class="text-2xl font-semibold">الاسم</h4>
                <p>المدينة</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div
          class="notshow flex flex-col items-center space-y-5 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded bg-white group-hover:bg-primaryOrange group-hover:text-white duration-200 h-[250px] after:content-[''] after:absolute after:-bottom-[6%] after:h-0 after:w-0 after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-t-[15px] after:border-solid after:border-t-transparent group-hover:after:border-t-primaryOrange after:duration-200">
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve">
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "لوريم إيبسوم دولور سيت أميت، كونسكتتور أديبيسيتنج إيليت.
              إكسرسيتيتيونيم، كويشام!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="صورة"
                loading="lazy"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h4 class="text-2xl font-semibold">الاسم</h4>
                <p>المدينة</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</Layout>
