---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import about from "../../images/bg/about.webp";
import about_lg from "../../images/bg/about-lg.webp";
import Mc from "../../images/companies_logo/clients/Mcdonald.webp";
import lorenzo from "../../images/companies_logo/clients/Lorenzo.webp";
import alliwan from "../../images/companies_logo/clients/Alliwan.webp";
import bk from "../../images/companies_logo/clients/Burgerking.webp";
import hzbr from "../../images/companies_logo/clients/Hazbr.webp";
import farawalah from "../../images/companies_logo/clients/Farawlah.webp";
import casapasta from "../../images/companies_logo/clients/Casapasta.webp";
import about_mobile from "../../images/bg/about-mobile.webp";

import TrustedIcons from "../../components/TrustedIcons.astro";
import Values from "../../components/values.astro";
import ButtonOutline from "../../components/ButtonOutline.astro";
import Location from "../../components/Location.astro";
import QuickSupport from "../../components/QuickSupport.astro";
import SourceImageTwo from "../../components/SourceImageTwo.astro";
---

<Layout title="معلومات عنا" lang="ar">
  <section
    class="hero bg-blurredAboutBgMobile xs:bg-blurredAboutBg bg-cover bg-center bg-no-repeat"
    id="about-hero"
  >
    <div class="blurred-img">
      <SourceImageTwo
        mobileImgUrl={about_mobile}
        desktopImgUrl={about_lg}
        alt="About-bg"
      />
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/80 xs:bg-transparent xs:bg-gradient-to-r from-black/50 from-0% to-black/85 to-80% z-0"
    >
    </div>
    <div
      id="title-container"
      class="fade min-h-inherit section-container text-white flex flex-col justify-center"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <h3
        class="text-primaryOrange text-2xl md:text-3xl font-normal tracking-wider mt-10"
      >
        من نحن
      </h3>
      <h1 class="text-white lg:w-3/4 leading-snug">
        ربط التجار ومقدمي الخدمات اللوجستية
        <span
          class="typewrite text-primaryOrange"
          data-period="1000"
          data-type='[ "بسهولة.", "بسلاسة.", "بكفاءة.", "كما لم يحدث من قبل!" ]'
        >
        </span>
        <span class="border-r-2 animate-ping animate-duration-1000"></span>
      </h1>
    </div>
  </section>
  <section class="bg-white z-10" id="about">
    <div
      class="fade container section-container space-y-20 lg:space-y-32"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div
        class="flex flex-col items-center justify-center lg:flex-row gap-16 lg:gap-0"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="flex flex-col gap-y-4 lg:w-1/2">
          <h2>عن لأجلك</h2>
          <p class="lg:w-3/4">
            لأجلك هي شركة سعودية وطنية تهدف إلى تقديم خدمات لوجستية مبتكرة
            ومتكاملة لشركائها، مع ضمان الاستدامة وفقًا لأفضل الممارسات العالمية
            لتحقيق النمو والاستمرارية.
          </p>
          <p class="lg:w-3/4">
            كما تسعى الشركة إلى تطوير خطة تدريب وتوظيف لتمكين قوتها العاملة،
            وضمان سلامة وأمن المشاريع وتحقيق الأهداف المرجوة لعملائها.
          </p>
        </div>
        <div class="lg:w-1/2 h-full overflow-hidden rounded-2xl">
          <Image src={about} alt="about" class="size-full object-cover" />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-y-20 lg:items-start lg:gap-y-0 lg:gap-x-16 lg:flex-row"
      >
        <div
          class="fade lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h4 class="bg-primaryOrange text-white text-center py-2 rounded-2xl">
            رؤيتنا
          </h4>
          <p>
            إحداث ثورة في قطاع الخدمات اللوجستية من خلال تقديم حلول تقنية مبتكرة
            تسد الفجوة بين التجار وشركات الخدمات اللوجستية، مما يعزز التميز
            المحلي والعالمي في خدمات التوصيل حسب الطلب.
          </p>
        </div>
        <div
          class="fade w-full lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h4 class="bg-primaryOrange text-white text-center py-2 rounded-2xl">
            مهمتنا
          </h4>
          <p>
            تقديم أدوات مبتكرة للشركات تعزز الكفاءة، وتقوي الشراكات بين التجار
            ومقدمي الخدمات اللوجستية، وتوفر رضا استثنائياً للعملاء من خلال شبكة
            توصيل موثوقة.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="values" class="bg-lightGray">
    <div class="container section-container space-y-20 z-10">
      <h2 class="text-center">قيمنا</h2>
      <Values lang="ar" />
    </div>
  </section>
  <section class="bg-secondaryBlueDark">
    <div
      class="relative bg-gradient-to-r flex flex-col items-center justify-center gap-14 w-full px-10 sm:px-24 py-24 md:min-h-[450px] z-10"
    >
      <h1 class="text-white text-center text-2xl sm:text-3xl lg:text-4xl">
        كن جزءًا من فريقنا الموهوب.
      </h1>
      <ButtonOutline href="contact/employees" text="انضم الآن" />
    </div>
  </section>
  <section class="bg-white">
    <div class="container section-container space-y-24">
      <h2
        class="fade text-center"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        علامات رائدة تثق بنا
      </h2>
      <div
        class="fade flex flex-wrap items-center justify-center gap-x-20 md:gap-x-5 gap-y-28"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <TrustedIcons imgSrc={Mc} alt="ماكدونالدز" />
        <TrustedIcons imgSrc={farawalah} alt="فراولة" />
        <TrustedIcons imgSrc={lorenzo} alt="لورينزو" />
        <TrustedIcons imgSrc={alliwan} alt="الليوان" />
        <TrustedIcons imgSrc={bk} alt="برجر كينج" />
        <TrustedIcons imgSrc={hzbr} alt="هازبر" />
        <TrustedIcons imgSrc={casapasta} alt="كاسا باستا" />
      </div>
    </div>
  </section>
  <section class="flex flex-col lg:flex-row bg-lightGray" id="contact">
    <div
      class="fade flex flex-col justify-center gap-20 w-full lg:w-1/2 px-6 py-10 lg:p-20"
      data-animation="animate-fade-left animate-duration-[1000ms]"
    >
      <div class="text-right space-y-20 lg:space-y-12">
        <div class="xs:w-4/5 lg:w-full">
          <h3>دعم سريع</h3>
          <h2>
            لا تتردد في الاتصال بنا عبر الهاتف أو البريد الإلكتروني أو الزيارة
            شخصيًا.
          </h2>
        </div>
        <QuickSupport lang="ar" />
      </div>
    </div>
    <Location />
  </section>
  <script src="/src/Script/typewriter.js"></script>
  <script src="/src/Script/BlurredImage.js"></script>
</Layout>
