---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import about from "../../../public/images/bg/about.webp";
import Mc from "../../../public/images/companies logo/clients/Mcdonald.webp";
import lorenzo from "../../../public/images/companies logo/clients/Lorenzo.webp";
import alliwan from "../../../public/images/companies logo/clients/Alliwan.webp";
import bk from "../../../public/images/companies logo/clients/Burgerking.webp";
import hzbr from "../../../public/images/companies logo/clients/Hazbr.webp";
import farawalah from "../../../public/images/companies logo/clients/Farawlah.webp";
import casapasta from "../../../public/images/companies logo/clients/Casapasta.webp";

import TrustedIcons from "../../components/TrustedIcons.astro";
import Values from "../../components/values.astro";
import ButtonOutline from "../../components/ButtonOutline.astro";
---

<link
  rel="preload"
  href="/images/bg/about-mobile.webp"
  as="image"
  media="(max-width: 479px)"
/>
<link
  rel="preload"
  href="/images/bg/about-md.webp"
  as="image"
  media="(min-width: 480px) "
/>
<link
  rel="preload"
  href="/images/bg/about-lg.webp"
  as="image"
  media="(min-width: 1600px)"
/>

<Layout title="معلومات عنا" lang="ar">
  <section
    class="bg-about_mobile xs:bg-about_med 3xl:bg-about_lg bg-cover bg-center lg:bg-right bg-no-repeat bg-fixed hero flex items-center relative"
    id="about-hero"
  >
    <div
      class="fade container section-container text-white z-10"
      data-animation="animate-fade animate-duration-[1500ms]"
    >
      <div class="text-right space-y-5 lg:w-3/4">
        <h3 class="text-primaryOrange text-2xl md:text-4xl font-normal">
          من نحن
        </h3>
        <h1 class="text-3xl md:text-5xl text-white">
          ربط التجار بمزودي الخدمات اللوجستية
          <span
            class="typewrite text-primaryOrange leading-normal"
            data-period="1000"
            data-type='[ "بسهولة.", "بسلاسة.", "بكفاءة.", "كما لم يحدث من قبل!" ]'
          >
          </span>
          <span class="border-r-2 animate-ping animate-duration-1000"></span>
        </h1>
      </div>
    </div>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 xs:bg-transparent xs:bg-gradient-to-r from-black/50 to-black/70 z-0"
    >
    </div>
  </section>
  <section class="bg-white" id="about">
    <div class="container section-container space-y-20 lg:space-y-32">
      <div
        class="fade flex flex-col items-center lg:flex-row gap-16"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="max-w-full flex-1 flex flex-col gap-y-4">
          <h2>عن لأجلك</h2>
          <p class="lg:text-lg">
            لأجلك هي شركة تكنولوجية مبتكرة تهدف إلى إحداث ثورة في مجال إدارة
            الطلبات والخدمات اللوجستية. من خلال تقديم حل شامل وقابل للتخصيص،
            تربط لأجلك التجار بشركات الخدمات اللوجستية الخارجية، مما يتيح نظام
            توصيل سلس وفعال.
          </p>
        </div>
        <div class="max-w-full flex-1 overflow-hidden">
          <Image src={about} alt="عن لأجلك" class="w-full" />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-darkGray">
    <div class="container section-container text-white">
      <div
        class="flex flex-col items-center justify-center gap-y-20 lg:items-start lg:gap-y-0 lg:gap-x-16 lg:flex-row"
      >
        <div
          class="fade lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h2 class="bg-primaryOrange text-white text-center py-2">رؤيتنا</h2>
          <p>
            يكمن نظام إدارة الطلبات المبتكر من لأجلك في قدرته على إحداث ثورة في
            نظام التوصيل من خلال ربط التجار وشركات الخدمات اللوجستية الخارجية
            بسلاسة. من خلال تقديم حل شامل لسد الفجوة بين هذه الأطراف، تمكّن
            لأجلك الشركات من تحقيق خدمات توصيل سريعة وفعالة، مما يعزز الكفاءة
            التشغيلية والتعاون ورضا العملاء.
          </p>
        </div>
        <div
          class="fade w-full lg:w-1/2 flex flex-col gap-4"
          data-animation="animate-fade-up animate-duration-[1000ms]"
        >
          <h2 class="bg-primaryOrange text-white text-center py-2">مهمتنا</h2>
          <ul>
            <li
              class="before:bg-tick relative before:absolute before:right-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">تعزيز الكفاءة التشغيلية للشركات.</p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:right-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                توفير اتصال سلس بين التجار ومزودي الخدمات اللوجستية.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:right-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                تحسين رضا العملاء من خلال خدمات التوصيل الدقيقة والموثوقة.
              </p>
            </li>
            <li
              class="before:bg-tick relative before:absolute before:right-0 before:top-0 before:size-6 before:content-['']"
            >
              <p class="ms-7">
                تسهيل التعاون داخل صناعة الخدمات اللوجستية لإنشاء شبكة توصيل
                قوية وفعالة.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="values">
    <div class="container section-container space-y-20">
      <h2 class="text-center">قيمنا</h2>
      <Values lang="ar" />
    </div>
  </section>
  <section class="bg-white">
    <div class="container section-container space-y-24">
      <h2
        class="fade text-center"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        موثوق به من قبل الشركات الرائدة
      </h2>
      <div
        class="fade flex flex-wrap items-center justify-center gap-x-5 gap-y-28"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <TrustedIcons imgSrc={Mc} alt="ماكدونالدز" />
        <TrustedIcons imgSrc={farawalah} alt="فراولة" />
        <TrustedIcons imgSrc={lorenzo} alt="لورينزو" />
        <TrustedIcons imgSrc={alliwan} alt="اللوان" />
        <TrustedIcons imgSrc={bk} alt="برجر كنج" />
        <TrustedIcons imgSrc={hzbr} alt="hzbr" />
        <TrustedIcons imgSrc={casapasta} alt="كاسا باستا" />
      </div>
      <div
        class="fade relative bg-gradient-to-br from-primaryOrange from-0% to-customYellow to-100% flex flex-col items-center justify-center gap-14 w-full rounded-lg px-10 shadow-black/30 shadow-lg sm:px-24 py-24 md:min-h-[450px] overflow-hidden z-10 after:content-[''] after:absolute after:h-full after:w-full after:bg-digital_bg1 after:opacity-90 after:bg-cover after:bg-no-repeat after:bg-center after:-z-10"
        data-animation="animate-fade-up animate-duration-[1000ms]"
      >
        <h1 class="text-white text-center text-2xl sm:text-4xl">
          كن جزءًا من فريقنا الموهوب.
        </h1>
        <ButtonOutline href="registration/employees" text="انضم الآن" />
      </div>
    </div>
  </section>
</Layout>
