---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/TestimonialEn.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";

import Button from "../../components/Button.astro";

import InfiniteScroll from "../../components/InfiniteScroll.astro";
/* Images */
import videoPlaceHolder_lg from "../../../public/delivery_firstframe_sm.webp";
import fleet from "../../../public/images/bg/fleet.webp";
import Restaurant from "../../../public/images/bg/restaurent.webp";
import app from "../../../public/images/Appmockup.webp";
import mockup_sm from "../../../public/images/mockup/mockup_sm.webp";
import google from "../../../public/images/icons/google play.png";
import apple from "../../../public/images/icons/apple store.png";

import EDM from "../../components/SvgIcons/EDM.astro";
import RTA from "../../components/SvgIcons/RTA.astro";
import Recon from "../../components/SvgIcons/Recon.astro";
import FMO from "../../components/SvgIcons/FMO.astro";
import AOA from "../../components/SvgIcons/AOA.astro";
import CDA from "../../components/SvgIcons/CDA.astro";

import HeroButton from "../../components/HeroButton.astro";
import CoreFeatures from "../../components/CoreFeatures.astro";
import BentoGrid from "../../components/BentoGrid.astro";
---

<script src="/src/Script/videoLoadHundler.js"></script>
<Layout title="الصفحة الرئيسية" lang="ar">
  <section class="relative h-screen">
    <picture id="videoplaceholder" class="">
      <source
        srcset="/delivery_firstframe_lg.webp"
        media="(min-width: 1600px)"
      />
      <source
        srcset="/delivery_firstframe_md.webp"
        media="(min-width: 480px)"
      />
      <Image
        src={videoPlaceHolder_lg}
        alt="videoplaceholder"
        class="absolute size-full z-0 bottom-0 object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </picture>
    <div
      id="hero-overlay"
      class="absolute top-0 left-0 size-full bg-black/70 z-0"
    >
    </div>
    <video
      autoplay
      playsinline
      muted
      loop
      class="absolute size-full object-cover -z-10"
      id="video"
    >
      <source src="/delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="fade container section-container flex flex-col justify-center xs:justify-end items-start h-full gap-y-4"
      data-animation="animate-fade-up animate-duration-[2000ms]"
    >
      <div class="text-white space-y-3">
        <div>
          <h1>قم بتبسيط عمليات التوصيل،</h1>
          <h1>وارتقِ بأعمالك.</h1>
        </div>
        <p class="md:w-3/4">
          نحن شريك تكنولوجي رائد مكرس لتحسين تجربة التوصيل في الميل الأخير
          لأجلك، مما يعزز رضا العملاء للشركات.
        </p>
      </div>
      <HeroButton href="about" text="تعرف على المزيد" />
    </div>
  </section>
  <div class="bg-white overflow-hidden" id="InfiniteScroll">
    <div
      class="fade space-y-6 sm:space-y-10 w-full py-10"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h4 class="text-center px-5">العلامات التجارية المدعومة من لأجلك</h4>
      <InfiniteScroll />
    </div>
  </div>
  <section class="overflow-hidden">
    <div
      class="fade container section-container grid justify-items-center lg:grid-cols-2 items-center sm:gap-y-20 relative"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <!-- Text Content -->
      <div class="space-y-4">
        <div>
          <h3>من نحن؟</h3>
          <h2>نظام إدارة التوصيل، لتلبية جميع احتياجاتك.</h2>
        </div>
        <p>
          نظام إدارة الطلبات المبتكر من لأجلك هو الحل المثالي لربط التجار وشركات
          الخدمات اللوجستية الخارجية لتقديم خدمات توصيل سريعة ومجدولة عند الطلب.
        </p>
        <p>
          حلنا يسد الفجوة بين التجار وشركات الخدمات اللوجستية ويمكنه بشكل كبير
          تحسين الكفاءة، خفض التكاليف، وتعزيز رضا العملاء. سجل الآن
        </p>
      </div>

      <!-- Image Content -->
      <div
        class="hidden sm:block relative lg:-translate-x-20 lg:-left-10 sm:w-[600px] lg:w-[700px] 3xl:w-[900px]"
      >
        <picture>
          <source
            srcset="/images/mockup/mockup_lg.webp"
            media="(min-width: 1600px)"
          />
          <source
            srcset="/images/mockup/mockup_md.webp"
            media="(min-width: 1024px)"
          />
          <Image
            src={mockup_sm}
            alt="mockup"
            class="w-full h-auto object-cover self-start"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div
      class="container section-container flex flex-col gap-24 overflow-hidden"
    >
      <div
        class="fade flex flex-col gap-12"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h2>القطاعات المستهدفة</h2>
        <BentoGrid lang="ar" />
      </div>
      <div
        class="fade flex flex-col items-center justify-center gap-20 md:flex-row"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="md:w-[30%] space-y-4">
          <div class="space-y-2">
            <h2>نظام خدماتنا المتكامل.</h2>
          </div>
          <p>
            اكتشف كيف يربط منصتنا هذه العناصر الأساسية، مما يعزز كل خطوة في رحلة
            التوصيل ويدفع النجاح عبر سلسلة التوريد.
          </p>
        </div>
        <div class="md:w-[70%] relative">
          <video
            autoplay
            muted
            loop
            src="/leajlak workflow.mp4"
            class="relative w-full h-full"
          >
          </video>
        </div>
      </div>
    </div>
  </section>

  <section id="Integration" class="bg-darkGray">
    <div class="container section-container space-y-20">
      <h2 class="md:text-center text-white">الميزات الأساسية</h2>
      <CoreFeatures lang="ar" />
    </div>
  </section>
  <section>
    <div
      class="fade container section-container space-y-10 overflow-hidden h-full"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="space-y-1 text-center">
        <h3>آراء العملاء</h3>
        <h2>استمع إلى آراء عملائنا السعداء.</h2>
      </div>
      <Testimonial />
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div class="container section-container space-y-20 text-center">
      <div
        class="fade space-y-1"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h3>شركاؤنا</h3>
        <h2>تعزيز النجاح مع شركائنا الموثوقين.</h2>
      </div>
      <!-- Integrated Partners -->
      <div class="space-y-10">
        <h4
          class="fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          الشركاء المتكاملون
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center w-full gap-y-10 gap-x-5 pb-10 border-b-2"
        >
          <Partners />
        </div>
      </div>
      <!-- Logistic Partners -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4 class="" data-animation="animate-fade animate-duration-[1000ms]">
          شركاء الخدمات اللوجستية
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 w-full"
        >
          <LogisicPartners />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-lightGray">
    <div class="container section-container flex items-center justify-center">
      <div
        class="fade md:w-1/2 space-y-12"
        data-animation="animate-fade-left animate-duration-[1000ms]"
      >
        <div class="space-y-1">
          <h2 class="text-3xl lg:text-5xl">
            قم بتحميل تطبيق <span class="text-primaryOrange">لأجلك</span> وانضم إلينا
            كسائق
          </h2>
          <p>
            هل تبحث عن دخل إضافي بجدول زمني مرن؟ انضم إلى فريق لأجلك كسائق وكن
            جزءًا من فريق ديناميكي مخصص لتقديم خدمات توصيل فعالة.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
            target="”_blank”"
            ><Image src={google} alt="google" class="w-40" /></a
          >
          <a
            href="https://apps.apple.com/tr/app/leajlak/id6444185447"
            target="”_blank”"><Image src={apple} alt="apple" class="w-40" /></a
          >
        </div>
      </div>
      <div
        class="fade w-1/2 hidden md:block"
        data-animation="animate-fade-right animate-duration-[1000ms]"
      >
        <Image
          src={app}
          alt="تطبيق"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Layout>
