---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/Testimonial.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";

import Button from "../../components/Button.astro";
import Carousel from "../../components/Carousel.astro";
import CarouselThreeD from "../../components/CarouselThreeD.astro";
import InfiniteScroll from "../../components/InfiniteScroll.astro";
/* Images */
import mockup from "../../images/mockup.webp";
import fleet from "../../images/bg/fleet.webp";
import Restaurant from "../../images/bg/restaurent.webp";
import app from "../../images/Appmockup.webp";
import order_status from "../../images/icons/benefits/integration/order status.svg";
import api from "../../images/icons/benefits/integration/api.svg";
import LiveLocation from "../../images/icons/benefits/integration/live location.svg";
import Payment_methods from "../../images/icons/benefits/integration/payment method.svg";
import chat from "../../images/icons/benefits/integration/chat.svg";
import Payment from "../../images/icons/benefits/integration/order-return.svg";
import truck from "../../images/icons/path-truck 1.png";
import google from "../../images/icons/google play.png";
import apple from "../../images/icons/apple store.png";
import AOA from "../../components/SvgIcons/AOA.astro";
import CDA from "../../components/SvgIcons/CDA.astro";
import EDM from "../../components/SvgIcons/EDM.astro";
import FMO from "../../components/SvgIcons/FMO.astro";
import Integration from "../../components/SvgIcons/Integration.astro";
import LogisticPartner from "../../components/SvgIcons/LogisticPartner.astro";
import RealTT from "../../components/SvgIcons/RealTT.astro";
import Recon from "../../components/SvgIcons/Recon.astro";
import RiderMang from "../../components/SvgIcons/RiderMang.astro";
import RTA from "../../components/SvgIcons/RTA.astro";
import TailoredDMS from "../../components/SvgIcons/TailoredDMS.astro";
---

<Layout title="الصفحة الرئيسية" lang="ar">
  <Carousel />
  <section class="relative h-screen">
    <video
      autoplay
      muted
      loop
      class="absolute right-0 bottom-0 h-full w-full object-cover">
      <source src="../../../delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="w-full h-full absolute inset-0 bg-gradient-to-t md:bg-gradient-to-br bg-black/80">
      <div
        class="container section-container flex flex-col justify-center text-center h-full">
        <div
          class="notshow flex flex-col lg:items-center text-white"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="space-y-3 mb-5">
            <div class="text-2xl md:text-5xl">
              نضمن لك الأمان و السرعة لتوصيل طلباتك
            </div>
            <h1 class="text-primaryOrange text-4xl md:text-7xl">
              بأعلى معايير الجودة
            </h1>
          </div>
          <div class="leading-7 mb-5 text-sm lg:text-base lg:w-[80%]">
            نحن شريك تكنولوجي رائد مكرس لتعزيز تجربة التسليم في المرحلة الأخيرة
            للشركات التي تركز على رضا العملاء. مهمتنا هي ضمان وصول كل عملية
            تسليم إلى وجهتها بشكل موثوق، وفي الوقت المحدد، بدقة، وكفاءة، وبأكثر
            الطرق استدامة ممكنة.
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="space-y-10 sm:space-y-16 w-full py-10 bg-white overflow-hidden">
    <h4 class="text-3xl font-medium text-center">
      العلامات التجارية المعززة من <span
        class="text-primaryOrange font-semibold">لأجلك</span
      >
    </h4>
    <InfiniteScroll />
  </div>
  <section id="Headline1" class="overflow-x-hidden flex">
    <div
      class="notshow container section-container relative flex flex-col justify-center gap-10 lg:flex-row lg:items-center lg:justify-start"
      data-animation="animate-fade animate-duration-[1500ms]">
      <div class="flex flex-col justify-center space-y-8 lg:w-[50%] text-base">
        <div class="space-y-3">
          <div>
            <h3>من نحن؟</h3>
            <h2>نظام إدارة الطلبات.</h2>
          </div>
          <p>
            نظام إدارة الطلبات المبتكر من لأجلك هو الحل الذي يربط بين التجار
            وشركات اللوجستيات الخارجية لتقديم خدمات التسليم السريع والمجدولة بكل
            سلاسة.
          </p>
          <p>
            حلنا يسد الفجوة بين التجار وشركات اللوجستيات ويمكن أن يعزز الكفاءة
            بشكل كبير، ويقلل التكاليف، ويحسن رضا العملاء.
          </p>
        </div>
        <div>
          <Button link="register" text="سجل الآن" />
        </div>
      </div>
      <div
        class="lg:absolute lg:left-0 hidden sm:flex sm:justify-center lg:justify-start lg:w-[50%]">
        <Image
          src={mockup}
          class="w-[770px] lg:w-[870px]"
          alt="mockup"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div
      class="container section-container flex flex-col gap-20 overflow-hidden">
      <h3
        class="notshow text-left md:text-center"
        data-animation="animate-fade animate-duration-[1500ms]">
        من نخدم؟
      </h3>
      <div class="flex flex-col items-center gap-y-32">
        <div
          class="notshow flex flex-col items-center gap-10 md:flex-row w-full"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="md:w-[30%] space-y-2 justify-self-start">
            <h2>القطاعات المستهدفة</h2>
            <p>
              تستهدف خدماتنا قطاعات متعددة، من المطاعم والمقاهي إلى البقالة
              الإلكترونية وأكثر من ذلك بكثير.
            </p>
          </div>
          <div class="relative w-full md:w-[70%]">
            <CarouselThreeD />
          </div>
        </div>
        <div
          class="notshow flex flex-col items-center justify-center gap-10 md:flex-row"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="md:w-[30%] space-y-2 md:order-2">
            <div>
              <h2>نظام خدماتنا البيئي</h2>
            </div>
            <p>
              استكشف كيف تربط منصتنا بين هؤلاء اللاعبين الرئيسيين، وتعزز كل خطوة
              من خطوات رحلة التسليم، وتدفع النجاح عبر سلسلة التوريد.
            </p>
          </div>
          <div class="md:w-[70%] relative">
            <video
              autoplay
              muted
              loop
              src="/لأجلك workflow-ar.mp4"
              class="relative w-full h-full">
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Benfits">
    <div
      class="container section-container flex flex-col justify-center items-center gap-20">
      <div
        class="notshow flex flex-col text-left md:text-center space-y-2 md:w-[60%]"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h3>المزايا</h3>
        <h2 class="text-lg md:text-2xl">
          ربط التجار بشركات اللوجستيات من أجل نظام تسليم سلس
        </h2>
      </div>
      <div class="space-y-32">
        <!-- Merchants -->
        <div
          class="notshow relative flex flex-col lg:flex-row justify-center items-center duration-200 lg:gap-x-14"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="bg-[url('/src/images/bg/restaurent.webp')] bg-no-repeat bg-cover p-5 space-y-5 h-full text-white lg:text-black lg:bg-none lg:w-[50%] rounded-xl">
            <div>
              <div class="text-primaryOrange text-lg font-medium uppercase">
                لأجلك
              </div>
              <h2 class="text-white lg:text-black">التجار</h2>
            </div>
            <p class="text-white lg:text-black">
              تحلّ حلول لأجلك مشاكل إدارة الطلبات، حيث تواجه التحديات الحيوية
              التي يواجهها التجار وتفتح الأبواب أمام نظام تسليم سلس وفعال.
            </p>
            <ul class="flex flex-col py-2 space-y-5">
              <TailoredDMS span="نظام إدارة مخصص" />
              <RealTT span="تتبع في الوقت الفعلي" />
              <RiderMang span="إدارة السائقين" />
              <LogisticPartner span="شراكات لوجستية" />
              <Integration span="قدرات متكاملة" />
            </ul>
            <div class="inline-flex gap-x-2">
              <a
                href="solutions/merchant-solutions"
                class="inline-flex items-center justify-center text-base bg-primaryOrange px-4 py-3 rounded-md text-white">
                <svg
                  class="w-3.5 h-3.5 ltr:ms-2 rtl:me-2 ltr:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  id="arrow">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
                تعرف على المزيد
              </a>
              <Button link="/register" text="سجل الآن" />
            </div>
          </div>
          <div class="w-full lg:w-[60%] lg:h-full hidden lg:block">
            <Image
              src={Restaurant}
              class="h-[550px] w-full rounded-xl"
              alt="مطعم"
              loading="lazy"
            />
          </div>
        </div>
        <!-- 3PL -->
        <div
          class="notshow relative flex flex-col lg:flex-row justify-center items-center duration-200 lg:gap-x-14"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div class="w-full lg:w-[60%] lg:h-full hidden lg:block">
            <Image
              src={fleet}
              class="h-[550px] w-full rounded-xl"
              loading="lazy"
              alt=""
            />
          </div>
          <div
            class="bg-[url('/src/images/bg/fleet-mobile.webp')] bg-no-repeat bg-cover p-5 space-y-5 h-full text-white lg:text-black lg:bg-none lg:w-[50%] rounded-xl">
            <div>
              <div class="text-primaryOrange text-lg font-medium uppercase">
                لأجلك لـ
              </div>
              <h2 class="text-white lg:text-black">الشركات اللوجستية</h2>
            </div>
            <p class="text-white lg:text-black">
              تواجه شركات اللوجستيات تحديات لوجستية، وتقدم نظام إدارة الطلبات
              الخاص بـ لأجلك حلاً شاملاً لتحسين الكفاءة التشغيلية وتبسيط عمليات
              التسليم.
            </p>
            <ul class="flex flex-col py-2 space-y-5">
              <EDM span="تحسين إدارة التسليم" />
              <RTA span="تتبع وتخصيص السائقين" />
              <Recon span="تبسيط التسوية" />
              <FMO span="تحسين إدارة الأسطول" />
              <AOA span="تعيينات الطلبات التلقائية" />
              <CDA span="لوحة تحكم وتطبيق مركزي" />
            </ul>
            <div class="inline-flex gap-x-2">
              <a
                href="solutions/logistic-solutions"
                class="inline-flex items-center justify-center text-base bg-primaryOrange px-4 py-3 rounded-md text-white">
                <svg
                  class="w-3.5 h-3.5 ltr:ms-2 ltr:rotate-180 rtl:me-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  id="arrow">
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
                تعرف على المزيد
              </a>
              <Button link="/register" text="سجل الآن" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Integration" class="bg-white">
    <div
      class="container section-container flex flex-col items-center justify-center space-y-20">
      <div
        class="notshow text-center space-y-1"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h2>الميزات الأساسية</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-14 gap-y-20">
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-300"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={api} alt="حالة الطلب" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">تكامل واجهة برمجة التطبيقات</h4>
            <p class="text-left lg:text-justify">
              يمكن لأجلك التكامل بسلاسة مع أي نقطة بيع سحابية وقنوات التجارة
              الإلكترونية، مما يوفر مزامنة في الوقت الحقيقي، ويقلل من الأخطاء،
              ويعزز الكفاءة التشغيلية. تشمل فوائد تكامل واجهة برمجة التطبيقات
              تبسيط معالجة الطلبات، وتحسين دقة التسليم، وزيادة سرعة الاستجابة.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-300"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={order_status} alt="حالة الطلب" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">حالة الطلب</h4>
            <p class="text-left lg:text-justify">
              توفر التحديثات المتعلقة بحالة الطلب المعتمدة على API فوائد الرؤية
              في الوقت الحقيقي، وتحسين تجربة العملاء، وتبسيط العمليات، والتواصل
              الاستباقي، وتقديرات دقيقة للتسليم، وحل المشكلات بشكل فعال.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={LiveLocation} alt="الطلبات" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">الموقع المباشر للسائقين</h4>
            <p class="text-left lg:text-justify">
              يوفر مزايا كبيرة من حيث تحسين تجربة العملاء، وتحسين عمليات
              التسليم، وزيادة الكفاءة، وضمان الإدارة الفعالة ومراقبة عمليات
              التسليم.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image src={Payment_methods} alt="طرق الدفع" class="w-16" />
          <div>
            <h4 class="text-xl font-medium">طرق الدفع</h4>
            <p class="text-left lg:text-justify">
              من خلال معرفة طريقة الدفع للطلبات، يتم تبسيط عملية التسليم لركاب
              التوصيل. الدفع المسبق، الدفع عند الاستلام. الدفع بواسطة البطاقة
              عند التسليم (جهاز السحب).
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image class="w-16" src={chat} alt="دردشة العملاء" loading="lazy" />
          <div>
            <h4 class="text-xl font-medium">دردشة العملاء</h4>
            <p class="text-left lg:text-justify">
              يمكّن هذا الـ API التواصل بين العملاء وممثلي التوصيل، مما يوفر
              قناة مريحة لمعالجة الأسئلة والمخاوف وتقديم المعلومات حول الخدمات.
            </p>
          </div>
        </div>
        <div
          class="notshow flex flex-col md:flex-row gap-5 items-start justify-center hover:text-primaryOrange duration-200"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Image class="w-16" src={Payment} alt="طرق الدفع" loading="lazy" />
          <div>
            <h4 class="text-xl font-medium">إدارة عودة الطلبات</h4>
            <p class="text-left lg:text-justify">
              يمكن أن تقلل عملية الإرجاع الفعالة من مخاطر الاحتيال، وتقلل من عدد
              المرتجعات وتحسن دقة المخزون.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-cta">
    <div
      class="flex flex-col items-center justify-center py-20 px-6 sm:px-16 gap-y-20 lg:flex-row lg:gap-x-20 lg:gap-y-0">
      <div
        class="notshow lg:w-[50%] hidden sm:block"
        data-animation="animate-fade-left animate-duration-[1500ms]">
        <Image
          src={truck}
          alt="شاحنة"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
      <div
        class="notshow flex flex-col items-start justify-center gap-y-10 lg:w-1/2"
        data-animation="animate-fade-right animate-duration-[1500ms]">
        <h4 class="text-2xl md:text-4xl font-bold text-start w-full text-white">
          اكتشف لماذا تختار الشركات منصتنا لتحقيق النجاح
        </h4>
        <a
          href="about"
          class="inline-flex items-center justify-center text-xl px-3 py-3 lg:px-5 lg:py-4 text-white rounded-md border border-white hover:-translate-y-1 duration-300">
          اكتشف المزيد
        </a>
      </div>
    </div>
  </section>
  <section
    class="bg-[url('../images/bg/digital-bg1.png')] bg-no-repeat bg-cover bg-fixed">
    <div
      class="container section-container flex flex-col justify-evenly items-center text-center">
      <h2>استمع لعملائنا السعداء</h2>
      <!-- Carousel -->
      <div class="carousel">
        <Testimonial
          active="active"
          quote="مرحبًا، هذه تجربة لمكون الشهادات"
          name="مالك"
          position="مطور"
          img_src="/src/images/profile-pic/unsplash_C8Ta0gwPbQg.png"
          img_alt="اختبار"
        />
        <Testimonial
          active=""
          quote="eazeazezae"
          name="ezaeaz"
          position="مطور"
          img_src="/src/images/profile-pic/unsplash_C8Ta0gwPbQg.png"
          img_alt="اختبار"
        />
        <div class="carousel-controls">
          <div class="carousel-control-prev">❮</div>
          <div class="carousel-control-next">❯</div>
        </div>
      </div>
      <!-- Customers -->
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div
      class="container section-container flex flex-col justify-center items-center text-center space-y-20">
      <div
        class="notshow space-y-2"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h3>شركاء النجاح</h3>
        <h2>تمكين النجاح مع شركائنا الموثوقين.</h2>
      </div>
      <!-- الشركاء المتكاملون -->
      <div class="space-y-10">
        <h4 class="text-3xl font-medium">الشركاء المتكاملون</h4>
        <div
          class="w-full flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 pb-10 border-b-2">
          <Partners />
        </div>
      </div>
      <!-- الشركاء اللوجستيون -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4
          class="notshow text-3xl font-medium"
          data-animation="animate-fade animate-duration-[1500ms]">
          الشركاء اللوجستيون
        </h4>
        <div
          class="w-full flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5">
          <LogisicPartners />
        </div>
      </div>
      <!-- العملاء -->
    </div>
  </section>
  <section>
    <div class="container section-container flex items-center justify-center">
      <div
        class="notshow md:w-1/2 space-y-12"
        data-animation="animate-fade-left animate-duration-[1500ms]">
        <div class="space-y-2">
          <h2 class="text-3xl lg:text-5xl">
            قم بتحميل تطبيق <span class="text-primaryOrange">لأجلك</span> وانضم إلينا
            كسائق
          </h2>
          <p>
            هل تبحث عن كسب دخل إضافي مع جدول مرن؟ انضم إلينا في "لأجلك" كراكب
            وكن جزءًا من فريق ديناميكي يكرّس جهوده لتقديم خدمات التوصيل الفعالة.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.لأجلك.captainapp&hl=en_US"
            target="_blank">
            <Image src={google} alt="جوجل" class="w-40" />
          </a>
          <a
            href="https://apps.apple.com/tr/app/لأجلك/id6444185447"
            target="_blank">
            <Image src={apple} alt="أبل" class="w-40" />
          </a>
        </div>
      </div>
      <div
        class="notshow w-1/2 hidden md:block"
        data-animation="animate-fade-right animate-duration-[1500ms]">
        <Image
          src={app}
          alt="تطبيق"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Layout>
