---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
/* Components */
import Testimonial from "../../components/TestimonialAr.astro";
import Partners from "../../components/Partners.astro";
import LogisicPartners from "../../components/LogisicPartners.astro";

import Button from "../../components/Button.astro";

import InfiniteScroll from "../../components/InfiniteScroll.astro";
/* Images */
import fleet from "../../images/bg/fleet.webp";
import Restaurant from "../../images/bg/restaurent.webp";
import app from "../../images/Appmockup.webp";
import mockup from "../../images/mockup-ar.webp";

import google from "../../images/icons/google play.png";
import apple from "../../images/icons/apple store.png";
import TailoredDMS from "../../components/SvgIcons/TailoredDMS.astro";
import RealTT from "../../components/SvgIcons/RealTT.astro";
import RiderMang from "../../components/SvgIcons/RiderMang.astro";
import Integration from "../../components/SvgIcons/Integration.astro";
import LogisticPartner from "../../components/SvgIcons/LogisticPartner.astro";
import EDM from "../../components/SvgIcons/EDM.astro";
import RTA from "../../components/SvgIcons/RTA.astro";
import Recon from "../../components/SvgIcons/Recon.astro";
import FMO from "../../components/SvgIcons/FMO.astro";
import AOA from "../../components/SvgIcons/AOA.astro";
import CDA from "../../components/SvgIcons/CDA.astro";

import HeroButton from "../../components/HeroButton.astro";
import CoreFeatures from "../../components/CoreFeatures.astro";
import BentoGrid from "../../components/BentoGrid.astro";
---

<Layout title="الصفحة الرئيسية" lang="ar">
  <section class="relative bg-black/60 h-[700px] 3xl:h-[900px]">
    <video
      autoplay
      playsinline
      muted
      loop
      class="absolute right-0 bottom-0 h-full w-full object-cover -z-10"
    >
      <source src="../../../delivery.mp4" type="video/mp4" />
    </video>
    <div
      class="fade container section-container flex flex-col justify-end items-start h-full gap-y-4"
      data-animation="animate-fade-up animate-duration-[2000ms]"
    >
      <div class="text-white space-y-3">
        <div>
          <h1>قم بتبسيط عمليات التوصيل،</h1>
          <h1>وارتقِ بأعمالك.</h1>
        </div>
        <p class="md:w-3/4">
          نحن شريك تكنولوجي رائد مكرس لتحسين تجربة التوصيل في الميل الأخير
          لأجلك، مما يعزز رضا العملاء للشركات.
        </p>
      </div>
      <HeroButton href="about" text="تعرف على المزيد" />
    </div>
  </section>
  <div class="bg-white overflow-hidden" id="InfiniteScroll">
    <div
      class="fade space-y-6 sm:space-y-10 w-full py-10"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <h4 class="text-center px-5">العلامات التجارية المدعومة من لأجلك</h4>
      <InfiniteScroll />
    </div>
  </div>
  <section
    class="fade overflow-hidden"
    data-animation="animate-fade animate-duration-[1000ms]"
  >
    <div
      class="container section-container flex flex-col lg:flex-row items-center sm:gap-y-20"
    >
      <div class="space-y-4 lg:w-1/2 lg:py-24">
        <div class="space-y-1">
          <h3>من نحن؟</h3>
          <h2>نظام إدارة التوصيل، لتلبية جميع احتياجاتك.</h2>
        </div>
        <p>
          نظام إدارة الطلبات المبتكر من لأجلك هو الحل المثالي لربط التجار وشركات
          الخدمات اللوجستية الخارجية لتقديم خدمات توصيل سريعة ومجدولة عند الطلب.
        </p>
        <p>
          حلنا يسد الفجوة بين التجار وشركات الخدمات اللوجستية ويمكنه بشكل كبير
          تحسين الكفاءة، خفض التكاليف، وتعزيز رضا العملاء. سجل الآن
        </p>
      </div>
      <div class="w-full h-auto lg:absolute -left-36 max-w-[700px]">
        <Image
          src={mockup}
          alt=""
          class="hidden sm:block w-full h-auto drop-shadow-md"
        />
      </div>
    </div>
  </section>
  <section id="WhoWeServe" class="bg-white">
    <div
      class="container section-container flex flex-col gap-24 overflow-hidden"
    >
      <div
        class="fade flex flex-col gap-12"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h2>القطاعات المستهدفة</h2>
        <BentoGrid lang="ar" />
      </div>
      <div
        class="fade flex flex-col items-center justify-center gap-20 md:flex-row"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="md:w-[70%] relative">
          <video
            autoplay
            muted
            loop
            src="/leajlak workflow.mp4"
            class="relative w-full h-full"
          >
          </video>
        </div>
        <div class="md:w-[30%] space-y-4">
          <div class="space-y-2">
            <h2>نظام خدماتنا المتكامل.</h2>
          </div>
          <p>
            اكتشف كيف يربط منصتنا هذه العناصر الأساسية، مما يعزز كل خطوة في رحلة
            التوصيل ويدفع النجاح عبر سلسلة التوريد.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="Benfits" class="bg-lightGray normal">
    <div class="space-y-20 md:space-y-0">
      <!-- Merchants -->
      <div
        class="fade relative grid grid-cols-1 md:grid-cols-2 justify-between items-center h-full after:absolute after:size-full after:bg-black/70 after:z-0 after:md:hidden"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div
          class="bg-merchant_solution_mobile bg-cover bg-center bg-no-repeat md:bg-none h-full text-white p-5 lg:px-20 lg:py-10 md:text-black lg:bg-none w-full flex flex-col justify-center"
        >
          <div class="z-10 space-y-3">
            <div>
              <h3>الحل</h3>
              <h2 class="text-white md:text-black">للتجار</h2>
            </div>
            <p class="text-white md:text-black">
              الحل المقدم من لأجلك يغيّر إدارة الطلبات بشكل جذري، مما يعالج
              التحديات الحرجة التي يواجهها التجار ويفتح المجال لنظام توصيل سلس
              وفعّال.
            </p>
            <ul class="flex flex-col py-2 space-y-5">
              <TailoredDMS span="نظام إدارة مصمم خصيصًا" />
              <RealTT span="تتبع في الوقت الفعلي" />
              <RiderMang span="إدارة السائقين" />
              <LogisticPartner span="شراكات لوجستية" />
              <Integration span="قدرات التكامل" />
            </ul>
            <div class="flex flex-col sm:flex-row gap-3">
              <a
                href="solutions/merchant-solutions"
                class="button-regular flex items-center justify-center"
              >
                تعرف على المزيد
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  id="arrow"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <Button link="registration/merchants" text="سجل الآن" />
            </div>
          </div>
        </div>
        <div class="md:w-full md:h-full hidden md:block">
          <Image
            src={Restaurant}
            class="md:w-full md:h-full"
            alt="مطعم"
            loading="lazy"
          />
        </div>
      </div>

      <!-- 3PL -->
      <div
        class="fade relative grid grid-cols-1 md:grid-cols-2 justify-between items-center h-full after:absolute after:size-full after:bg-black/60 after:z-0 after:md:hidden"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <div class="md:w-full md:h-full hidden md:block">
          <Image
            src={fleet}
            class="md:w-full md:h-full"
            loading="lazy"
            alt=""
          />
        </div>
        <div
          class="bg-logistic_solution_mobile bg-cover bg-center bg-no-repeat md:bg-none h-full text-white p-5 lg:px-20 lg:py-10 md:text-black lg:bg-none w-full flex flex-col justify-center"
        >
          <div class="space-y-4 z-10">
            <div>
              <h3>الحل</h3>
              <h2 class="text-white md:text-black">لشركات الخدمات اللوجستية</h2>
            </div>

            <p class="text-white md:text-black">
              من خلال معالجة التحديات اللوجستية، يوفر نظام إدارة الطلبات من
              لأجلك حلاً شاملاً لتعزيز الكفاءة التشغيلية وتبسيط عمليات التوصيل.
            </p>

            <ul class="flex flex-col py-2 space-y-5">
              <EDM span="إدارة توصيل محسّنة" />
              <RTA span="تتبع وتخصيص السائقين" />
              <Recon span="تسوية الحسابات المبسطة" />
              <FMO span="تحسين إدارة الأسطول" />
              <AOA span="تخصيص الطلبات تلقائيًا" />
              <CDA span="لوحة تحكم وتطبيق مركزي" />
            </ul>
            <div class="flex flex-col sm:flex-row gap-2">
              <a
                href="solutions/logistic-solutions"
                class="button-regular flex items-center justify-center"
              >
                تعرف على المزيد
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                  id="arrow"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg>
              </a>
              <Button link="registration/logistic-companies" text="سجل الآن" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Integration" class="bg-darkGray">
    <div class="container section-container space-y-20">
      <h2 class="md:text-center text-white">الميزات الأساسية</h2>
      <CoreFeatures lang="ar" />
    </div>
  </section>
  <section>
    <div
      class="fade container section-container space-y-10 overflow-hidden h-full"
      data-animation="animate-fade animate-duration-[1000ms]"
    >
      <div class="space-y-1 text-center">
        <h3>آراء العملاء</h3>
        <h2>استمع إلى آراء عملائنا السعداء.</h2>
      </div>
      <Testimonial />
    </div>
  </section>
  <section id="Partners" class="bg-white">
    <div class="container section-container space-y-20 text-center">
      <div
        class="fade space-y-1"
        data-animation="animate-fade animate-duration-[1000ms]"
      >
        <h3>شركاؤنا</h3>
        <h2>تعزيز النجاح مع شركائنا الموثوقين.</h2>
      </div>
      <!-- Integrated Partners -->
      <div class="space-y-10">
        <h4
          class="fade"
          data-animation="animate-fade animate-duration-[1000ms]"
        >
          الشركاء المتكاملون
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center w-full gap-y-10 gap-x-5 pb-10 border-b-2"
        >
          <Partners />
        </div>
      </div>
      <!-- Logistic Partners -->
      <div class="space-y-10 w-full flex flex-col items-center">
        <h4 class="" data-animation="animate-fade animate-duration-[1000ms]">
          شركاء الخدمات اللوجستية
        </h4>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-y-10 gap-x-5 w-full"
        >
          <LogisicPartners />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-lightGray">
    <div class="container section-container flex items-center justify-center">
      <div
        class="fade md:w-1/2 space-y-12"
        data-animation="animate-fade-left animate-duration-[1000ms]"
      >
        <div class="space-y-1">
          <h2 class="text-3xl lg:text-5xl">
            قم بتحميل تطبيق <span class="text-primaryOrange">لأجلك</span> وانضم إلينا
            كسائق
          </h2>
          <p>
            هل تبحث عن دخل إضافي بجدول زمني مرن؟ انضم إلى فريق لأجلك كسائق وكن
            جزءًا من فريق ديناميكي مخصص لتقديم خدمات توصيل فعالة.
          </p>
        </div>
        <div class="flex items-center gap-3">
          <a
            href="https://play.google.com/store/apps/details?id=com.leajlak.captainapp&hl=en_US"
            target="”_blank”"
            ><Image src={google} alt="google" class="w-40" /></a
          >
          <a
            href="https://apps.apple.com/tr/app/leajlak/id6444185447"
            target="”_blank”"><Image src={apple} alt="apple" class="w-40" /></a
          >
        </div>
      </div>
      <div
        class="fade w-1/2 hidden md:block"
        data-animation="animate-fade-right animate-duration-[1000ms]"
      >
        <Image
          src={app}
          alt="تطبيق"
          class="w-full h-full pointer-events-none"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Layout>
