---
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import fleet from "../../../images/bg/fleet-efficiency.webp";
import fleet_cost from "../../../images/bg/fleet-cost.webp";
import data from "../../../images/bg/data.webp";
import client from "../../../images/bg/client.webp";
import portrait from "../../../images/profile-pic/portrait.png";
import EDM from "../../../components/SvgIcons/EDM.astro";
import RTA from "../../../components/SvgIcons/RTA.astro";
import Recon from "../../../components/SvgIcons/Recon.astro";
import FMO from "../../../components/SvgIcons/FMO.astro";
import AOA from "../../../components/SvgIcons/AOA.astro";
import CDA from "../../../components/SvgIcons/CDA.astro";
---

<Layout title="Solutions | 3PL" lang="en">
  <section
    class="bg-logistic_mobile sm:bg-logistic bg-cover bg-center bg-no-repeat bg-fixed"
    id="PL-hero">
    <div
      class="notshow container section-container hero"
      data-animation="animate-fade animate-duration-[2000ms]">
      <h1 class="py-16 text-white text-3xl md:text-4xl text-center md:w-[90%]">
        A comprehensive solution to enhance operational efficiency for Logistic
        Companies
      </h1>
    </div>
  </section>
  <section>
    <div
      class="container section-container flex flex-col items-center justify-center gap-20">
      <div
        class="notshow flex flex-col items-center text-center gap-2"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h2 class="text-primaryOrange">Our Solutions</h2>
        <p class="w-[70%]">
          Addressing the logistical challenges faced by companies, Leajlak’s
          Delivery Management System offers a comprehensive solution to enhance
          operational efficiency and streamline delivery processes. Leajlak’s
          DMS empowers logistics companies to overcome operational hurdles,
          enhance efficiency, and deliver exceptional service to their clients
          and customers
        </p>
      </div>
      <div class="flex flex-row flex-wrap items-center justify-center gap-5">
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <EDM />

          <div>
            <h4>Enhanced Delivery Management</h4>
            <p>
              Leajlak's system provides an efficient and real-time Delivery
              Management System, offering valuable insights and data to optimize
              business operations and decision-making.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <RTA />

          <div>
            <h4>Rider Tracking And Allocation</h4>
            <p>
              With real-time tracking and efficient allocation tools, logistics
              companies can monitor their riders' activities and assign tasks
              promptly for improved delivery performance.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <Recon />
          <div>
            <h4>Streamlined Reconciliation</h4>
            <p>
              Simplify the complexities associated with account reconciliation
              with riders through automated processes and tools within the
              system, reducing errors and enhancing financial accuracy.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <FMO />

          <div>
            <h4>Fleet Management Optimization</h4>
            <p>
              Leajlak's solution includes features dedicated to fleet
              management, allowing logistics companies to better organize and
              optimize their delivery resources for improved logistics
              operations.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <AOA />

          <div>
            <h4>Automated Order Assignments</h4>
            <p>
              Eliminate delays and errors caused by outdated manual processes
              with Leajlak's system, which automates order assignments for swift
              and accurate task distribution.
            </p>
          </div>
        </div>
        <div
          class="notshow card-solution"
          data-animation="animate-fade animate-duration-[1500ms]">
          <CDA />
          <div>
            <h4>Centralized dashboard and app</h4>
            <p>
              Unified Window, Leajlak streamlines the logistics companies'
              operations, simplifies their workflow, and enhances overall
              efficiency.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div
      class="container section-container flex-col items-center justify-center space-y-28">
      <div
        class="notshow flex flex-col items-center text-center gap-2"
        data-animation="animate-fade animate-duration-[1500ms]">
        <h2 class="text-primaryOrange">Benefits for logistics companies</h2>
        <p>
          Unlock the Full Potential of Your Business with These Key Benefits
        </p>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <Image
            src={fleet}
            alt="fleet efficiency"
            loading="eager"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 sm:py-10 md:px-20 md:w-[80%] lg:right-40 lg:h-80 lg:w-1/2"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute right-0 -bottom-6 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping animate-once">
            1
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">Optimize Your Fleet</h4>
          <p>
            Enhance your fleet management with real-time tracking and
            intelligent routing, ensuring maximum efficiency and reduced
            downtime.
          </p>
        </div>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2 lg:order-2"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <Image
            src={fleet_cost}
            alt="Cost Savings"
            loading="eager"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 z-10 sm:py-10
        md:px-20 md:w-[80%] lg:left-40 lg:h-80 lg:w-1/2 lg:order-1"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute left-0 -bottom-12 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping duration-500">
            2
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">
            Save on Fuel and Time
          </h4>
          <p>
            Optimize routes to reduce fuel consumption and delivery times,
            leading to significant cost savings and improved profitability.
          </p>
        </div>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <Image src={data} alt="data" loading="eager" class="w-full h-full" />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 sm:py-10 md:px-20 md:w-[80%] lg:right-40 lg:h-80 lg:w-1/2"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute right-0 -bottom-12 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping duration-500">
            3
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">
            Leverage Data for Success
          </h4>
          <p>
            Access detailed reports and analytics to monitor performance,
            identify areas for improvement, and drive strategic growth.
          </p>
        </div>
      </div>
      <div class="benefits-card group">
        <div
          class="notshow w-full md:h-[450px] md:w-[80%] relative lg:w-1/2 lg:order-2"
          data-animation="animate-fade-left animate-duration-[1500ms]">
          <Image
            src={client}
            alt="client experience"
            loading="eager"
            class="w-full h-full"
          />
        </div>
        <div
          class="notshow relative h-full w-full p-5 py-3 bg-lightGray space-y-5 z-10 sm:py-10 md:px-20 md:w-[80%] lg:left-40 lg:h-80 lg:w-1/2 lg:order-1"
          data-animation="animate-fade-right animate-duration-[1500ms]">
          <h1
            class="text-7xl absolute left-0 -bottom-12 md:-bottom-16 lg:-top-16 md:text-9xl group-hover:animate-ping duration-500">
            4
          </h1>
          <h4 class="text-xl md:text-3xl font-semibold">Deliver Excellence</h4>
          <p>
            Provide superior service to your clients with accurate, on-time
            deliveries and transparent communication throughout the delivery
            process.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div
    class="bg-[url('../images/bg/digital-bg3.webp')] bg-no-repeat bg-cover bg-fixed">
    <div
      class="notshow container section-container cta gap-10 text-center"
      data-animation="animate-fade animate-duration-[1500ms]">
      <h1 class="text-2xl lg:text-4xl lg:w-[50%]">
        Join Us and Simplify Your Logistics.
      </h1>

      <a
        href="#"
        class="inline-flex items-center justify-center px-5 py-3 md:text-xl text-white bg-primaryOrange rounded-lg hover:shadow-lg hover:-translate-y-1 duration-300">
        Join now
      </a>
    </div>
  </div>
  <section>
    <div
      class="container section-container flex flex-col justify-center gap-24">
      <h2
        class="notshow text-center"
        data-animation="animate-fade animate-duration-[1500ms]">
        Don't Take Our Word For It
      </h2>
      <div class="flex flex-wrap items-center justify-between gap-5">
        <div
          class="notshow flex flex-col items-center space-y-5 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded bg-white group-hover:bg-primaryOrange group-hover:text-white duration-200 h-[250px] after:content-[''] after:absolute after:-bottom-[6%] after:h-0 after:w-0 after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-t-[15px] after:border-solid after:border-t-transparent group-hover:after:border-t-primaryOrange after:duration-200">
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve">
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quisquam!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="portrait"
                loading="eager"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h4 class="text-2xl font-semibold">Name</h4>
                <p>City</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div
          class="notshow flex flex-col items-center space-y-5 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded bg-white group-hover:bg-primaryOrange group-hover:text-white duration-200 h-[250px] after:content-[''] after:absolute after:-bottom-[6%] after:h-0 after:w-0 after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-t-[15px] after:border-solid after:border-t-transparent group-hover:after:border-t-primaryOrange after:duration-200">
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve">
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quisquam!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="portrait"
                loading="eager"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h4 class="text-2xl font-semibold">Name</h4>
                <p>City</p>
              </div>
            </figcaption>
          </figure>
        </div>
        <div
          class="notshow flex flex-col items-center space-y-5 flex-card_xl group md:flex-card_testimonial_xl"
          data-animation="animate-fade animate-duration-[1500ms]">
          <div
            class="relative flex flex-col items-center justify-center text-center p-5 rounded bg-white group-hover:bg-primaryOrange group-hover:text-white duration-200 h-[250px] after:content-[''] after:absolute after:-bottom-[6%] after:h-0 after:w-0 after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-t-[15px] after:border-solid after:border-t-transparent group-hover:after:border-t-primaryOrange after:duration-200">
            <svg
              class="h-10 fill-black/70 group-hover:fill-white duration-200"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 32 32"
              xml:space="preserve">
              <g>
                <g id="right_x5F_quote">
                  <g>
                    <path
                      d="M0,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H0z"
                    ></path>
                    <path
                      d="M20,4v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V4H20z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <blockquote>
              "Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, quisquam!"
            </blockquote>
          </div>
          <figure>
            <figcaption class="flex flex-col items-center">
              <Image
                src={portrait}
                alt="portrait"
                loading="eager"
                class="h-20 w-20 rounded-full"
              />
              <div class="text-center">
                <h4 class="text-2xl font-semibold">Name</h4>
                <p>City</p>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</Layout>
