---
import "../styles/base.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ChatBot from "../components/ChatBot.astro";
interface Props {
  title: string;
  lang: string;
}

const { title } = Astro.props;
const { lang = "en" } = Astro.props;

function dir() {
  if (lang === "ar") {
    return "rtl";
  }
  return "ltr";
}
---

<!doctype html>
<html lang={lang} class="scroll-smooth" dir=`${dir()}`>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="/favicon.webp" type="image/webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap"
      media="print"
      onload="this.onload=null;this.removeAttribute('media');"
      fetchpriority="high"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap"
      />
    </noscript>
  </head>

  <body class="relative font-OpenSans overflow-x-hidden first-letter:uppercase">
    <Header lang={lang} />
    <slot />è
    <Footer lang={lang} />
    <ChatBot client:idle />
    <script src="../Script/scrollAnimation.js"></script>
    <script src="../Script/script.js"></script>
  </body>
</html>
