---
import "../styles/base.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  lang: string;
}

const { title } = Astro.props;
const { lang = "en" } = Astro.props;

function dir() {
  if (lang === "ar") {
    return "rtl";
  }
  return "ltr";
}
---

<!doctype html>
<html lang={lang} class="scroll-smooth" dir=`${dir()}`>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.webp" type="image/webp" />
    <script src="../Script/scrollAnimation.js"></script>

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="font-OpenSans overflow-x-hidden bg-lightGray first-letter:uppercase"
  >
    <Header lang={lang} />
    <slot class="z-50" />
    <Footer lang={lang} />
    <script src="../Script/script.js"></script>
  </body>
</html>
